{#
/**
 * @file
 * Template to render a table of contents.
 * Overrides the original coming from sg_paragraphs module.
 *
 * Variables:
 * - links : Array containing the links of the TOC.
 */
#}

{% if links %}
<nav class="table-of-contents" aria-labelledby="table-of-contents-header">
  <div class="content-container">
    <h4 id="table-of-contents-header" class="visually-hidden">{{ 'On this page'|t }}</h4>

      <ul class="three-column">
      {% for link in links %}
        <li>{{ link }}</li>
      {% endfor %}
      </ul>

  </div>
</nav>
{% endif %}
