.messages {
  margin: 20px auto;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  background-image: none;
  box-shadow: none;

  .overview-layout &,
  .detail-layout & {
    margin: 20px auto;
  }
}
