// ===
//  Map legend
// ===


.ol-data-layer-switcher {
  padding: .8rem;

  h2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: .8rem;

    > button {
      width: auto;
      height: auto;
      background: transparent;
      color: inherit;
      font-size: 1.5em;
    }
  }

  .category {
    margin-bottom: .5rem;
    border: 0;
    font-size: .7rem;

    &__label {
      padding: 0;
      background: transparent;
      color: inherit;
      text-transform: none;
    }

    &__count {
      display: none;
    }
  }

  details {
    ::-webkit-details-marker {
      display: none;
    }

    .category__label {
      @include icon(plus);
      cursor: pointer;

      &::before {
        margin-right: .4rem;
      }
    }
  }

  .layer {
    font-size: .7rem;

    label {
      display: block;
      padding-right: 0;
      padding-left: 1.4rem;
    }
  }

  .checkbox {
    margin: 0;
  }

  .legend {
    padding-left: 2rem;
  }
}
