// sass-lint:disable no-important no-ids class-name-format
// Import the variables and settings first. These can contain settings for
// used plugins (f.e. normalize etc).

// Variables
//
// Styleguide 1
@import 'loader/variables';

// Plugins
//
// Styleguide 2
@import 'loader/plugins';

// Abstractions
//
// Styleguide 3
@import 'loader/abstractions';

// Base
//
// Styleguide 4
@import 'loader/base';

// Layouts
//
// Styleguide 5
@import 'loader/layouts';

// Components
//
// Styleguide 6
@import 'loader/components';

//
// Print stylesheet
//
* {
  background: transparent !important;
  color: #000 !important;
  box-shadow: none !important;
  text-shadow: none !important;
  filter: none !important;
}

@page {
  margin: .5cm;
}

h2,
h3 {
  orphans: 3;
  widows: 3;
  page-break-after: avoid;
}

p {
  orphans: 3;
  widows: 3;
}

pre,
blockquote {
  border: 1px solid #ccc;
  page-break-inside: avoid;
}

a {
  text-decoration: underline;
}

img {
  max-width: 100% !important;
  page-break-inside: avoid;
}

thead {
  display: table-header-group;
}

tr {
  page-break-inside: avoid;
}

.multi-column-items {
  height: auto !important;
}

.multi-column article {
  display: inline-block !important;
  float: left !important;
  position: relative !important;
  left: 0 !important;
  top: auto !important;
  overflow: visible !important;
  width: 100% !important;
  height: auto !important;
  clear: both !important;

  &.uig-block {
    display: none !important;
  }
}

.l-primary {
  width: 70%;
  float: left;
  margin-right: 1%;
}

.l-secondary {
  padding-top: 1em;
  width: 25%;
  float: right;
}

.site__footer {
  .island,
  .l-fourth-to-single {
    float: left;
    width: 48%;
  }
}

.region-content-top .island {
  width: 48%;
  float: left;
}

.js-height.island {
  float: left;

  &.l-third {
    width: 48%;
  }

  &.l-half {
    width: 100%;
  }

  &.l-fourth {
    width: 48%;
  }
}

nav.holder--alpha,
.share-links,
.tabs--top,
.olark-toggle,
.search-widget,
.readspeaker,
.login-widget,
.uig-block {
  display: none !important;
}

#sticky-wrapper,
#sticky-spacer,
#admin-menu,
#block-dg-newsletter-subscribe-mail,
#block-gent-social-gent-social-global-links,
#block-gent-wijksites-gent-wijksites-combined,
#block-masquerade-masquerade,
#workflow-status,
.scoreWrapper {
  display: none;
}

html body.admin-menu {
  margin-top: 0 !important;
}

// Logo's should always be visible
// Make the non printed background-image the content of the container
.brand {
  position: relative;
  top: 0;
  padding-left: 1em;

  .padding--big {
    padding: 0;
  }
}

.brand__logo {
  width: 40px;
  height: 40px;
  float: left;
  margin-right: 0;
}

.brand__logo__inner {
  background-image: none;
  content: url('#{$base-theme-path}/img/png/logo--part1.png'); // Fallback to old logo ...
  background-color: $beta-ui-color;

  .svg & {
    content: url('#{$base-theme-path}/img/svg/logo--gentcolon.svg');
  }
}
