.btn,
a.btn {
  border: none;
  border-radius: $radius-1;
  position: relative;
  display: block;
  width: 100%;
  text-align: center;
  padding: 0 20px;
  margin: 0;
  overflow: hidden;
  font-family: $primary-font-family;
  font-weight: $primary-font-weight + 300;
  cursor: pointer;
  text-decoration: none;
  transition: all .11s ease-in-out;
  transition-property: background, color, border;
  outline: none;
  -webkit-appearance: none;
  &:hover {
    text-decoration: none;
  }

  @include btn-m;
  @extend .btn--default;
}

// Button sizes
.small.btn,
.btn--small,
a.btn--small,
input[type="submit"].btn--small {
  @include btn-s;
}

.medium.btn,
.btn--medium,
a.btn--medium,
input[type="submit"].btn--medium {
  @include btn-m;
}

.large.btn,
.btn--large,
a.btn--large,
input[type="submit"].btn--large {
  @include btn-l;
}

.inline.btn,
.btn--inline,
a.btn--inline,
input[type="submit"].btn--inline {
  @include btn-inlineblock
}