h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin: 0;
}

h1, .h1 {
  font-family: $secondary-font-family;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.1em;
  padding-bottom: 1.5rem;
}

h2, .h2 {
  font-size: 1.2rem;
  line-height: 1.4em;
  padding-top: 2rem;
  padding-bottom: .3rem;
}

h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.4em;
}