.js input.form-autocomplete {
  background-repeat: no-repeat;
  background-position: calc(100% - .5rem) center;
}

.js input.form-autocomplete.ui-autocomplete-loading {
  background-repeat: no-repeat;
  background-position: calc(100% - .5rem) center;
}
