.js input.form-autocomplete {
  background-position: calc(100% - .5rem) center;
  background-repeat: no-repeat;
}
.js input.form-autocomplete.ui-autocomplete-loading {
  background-position: calc(100% - .5rem) center;
  background-repeat: no-repeat;
}
