.newsletter,
.block-dg-newsletter {
  @include medium-text();

  body & {
    h2 {
      margin-bottom: 30px;
    }
  }

  *:last-child {
    margin-bottom: 0;
  }

  .form-wrapper:not(.form-actions) {
    position: relative;

    .dg-newsletter-privacy-disclaimer {
      margin: 30px 0;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .dg-newsletter-intro-text,
    .dg-newsletter-privacy-disclaimer {
      flex-basis: 100%;

      p:last-child {
        margin-bottom: 0;
      }
    }

    .form-item {
      margin: 0;

      @include tablet {
        margin: 0 10px 0 0;
        max-width: 556px;
      }
    }

    .error {
      .accolade {
        &::before,
        &::after {
          @include theme('background-color', 'color-secondary');
        }
      }
    }

    fieldset {
      legend {
        @include theme('color', 'default-text-color', 'color-form-description');
      }

      &.error {
        legend {
          display: block;
        }
      }
    }

    .interests {
      flex-basis: 100%;
      margin-top: 30px;

      .checkbox {
        margin-bottom: 20px;
      }
    }

    .form-item-email-address {
      width: 100%;
      margin-top: 30px;

      @include tablet {
        max-width: 350px;
      }
    }

    .form-actions {
      flex-grow: 0;
      align-self: flex-start;
      margin: 15px 10px 0 0;

      input[type="submit"] {
        align-self: flex-start;
        margin: 0;
      }
    }

    .form-item-email-address + .form-actions {
      margin-top: 10px;

      @include tablet {
        margin-top: 58px;
      }
    }

    .interests + .form-actions {
      flex: 0 0 100%;
    }

    p[data-drupal-selector$="edit-privacy-link"] {
      @include medium-text();

      margin: 30px 0;
    }

    .ajax-progress {
      display: none;
    }
  }

  .email {
    label {
      @include theme('color', 'color-zero');
      @include semi-bold-text;
    }
  }
}

.subscribe {
  > *:last-child {
    margin-bottom: 0;
  }
}
