{#
/**
 * @file
 * Default theme implementation to display source summary block total count.
 *
 * Available variables:
 * - count: The total number of records retrieved.
 */
#}
<div class="filter-page-label">
  {% trans %}There is 1 result{% plural count %}There are {{ count }} results{% endtrans %}.
</div>
