{#
/**
 * @file
 * Default theme implementation to display source summary block total count.
 *
 * Available variables:
 * - count: The total number of records retrieved.
 */
#}
<h2 class="source-summary-count">
  {% trans %}There is 1 result{% plural count %}There are {{ count }} results{% endtrans %}
  .
</h2>
