# Ignore the node modules folder (created by 'npm install').
node_modules

# We absolutely don't want to have the .sass-cache in git.
.sass-cache
bower_components/
styleguide
css
npm-debug.log

.DS_Store
.project
.settings
.idea
.bundle
vendor
package-lock.json
