parameters:
	level: 4
	tipsOfTheDay: false
	reportUnmatchedIgnoredErrors: false
	ignoreErrors:
		- '#Unsafe usage of new static\(\)#'
		- '#\\Drupal calls should be avoided in classes#'
		- '#Method Drupal\\Core\\Form\\FormBuilderInterface::getForm\(\) invoked with#'
		- '#Access to an undefined property Drupal\\Core\\TypedData\\TypedDataInterface::\$#'

	excludePaths:
		- */node_modules/*
		- */vendor/*

	scanDirectories:
		- %currentWorkingDirectory%

	parallel:
		jobSize: 20
		maximumNumberOfProcesses: 4

	drupal:
		drupal_root: vendor/drupal

