@use 'gb-gs-settings' as *;
@use 'gb-gs-mixins' as *;

$frs-handle-size: 1.4rem;

.form-item.facets-widget-range_slider { // sass-lint:disable-line class-name-format
  .pips-preview {
    @include small-text();

    > .placeholder {
      font-style: normal;
    }
  }

  .ui-slider-tip,
  .ui-slider-pip {
    display: none;
  }

  .ui-widget.ui-widget-content {
    height: 0;
    margin: 30px #{$frs-handle-size * .5} 40px;
    border: 2px solid coloring('gray-light');
  }

  .ui-slider-range {
    @include theme('border-color', 'color-zero', 'ui-slider-range-background-color');

    top: -2px;
    height: 0;
    border: 2px solid;
  }

  .ui-slider-handle {
    @include theme('background-color', 'color-zero', 'ui-slider-handle-background-color');

    top: -$frs-handle-size * .5;
    width: $frs-handle-size;
    height: $frs-handle-size;
    margin-left: -$frs-handle-size * .5;
    border: 0;
    border-radius: 100%;
    cursor: pointer;
  }
}
