$frs-handle-size: 1.4rem;

.form-item.facets-widget-range_slider {
  .pips-preview {
    font-size: .8rem;
    @include bold-text;

    > .placeholder {
      font-style: normal;
    }
  }

  .ui-slider-tip,
  .ui-slider-pip {
    display: none;
  }

  .ui-widget.ui-widget-content {
    @include theme('border-color', 'color-primary--lighten-4', 'ui-slider-widget-background-color');

    height: 0;
    margin: 1.5rem #{$frs-handle-size * 0.5} 2rem;
    border: 2px solid;
  }

  .ui-slider-range {
    @include theme('border-color', 'color-primary', 'ui-slider-range-background-color');

    top: -2px;
    height: 0;
    border: 2px solid;
  }

  .ui-slider-handle {
    @include theme('background-color', 'color-primary', 'ui-slider-handle-background-color');

    top: -$frs-handle-size * 0.5;
    width: $frs-handle-size;
    height: $frs-handle-size;
    border-radius: 100%;
    border: 0;
    cursor: pointer;
    margin-left: -$frs-handle-size * 0.5;
  }
}
