@use 'gent_base/source/sass/00-settings/settings' as *;
@use 'gent_base/source/sass/00-mixins/mixins' as *;

.form-managed-file {
  .image-widget-data {
    .file-type {
      display: none;
    }
  }
}

.field--type-image {
  .tag.filter input.button {
    [class*='cs--'] & {
      $image-icon-svg: svg-icon('cross', coloring('gray'), 16, 16);
      width: 1rem;
      min-height: 0;
      padding: 0;
      border: 0;
      background-image: svg-url($image-icon-svg);
      background-color: transparent;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      text-indent: -9999px;
      box-shadow: none;
    }
  }

  .item-list {
    width: 50%;
    margin-bottom: $gutter-width;

    li {
      margin-bottom: .4rem;
    }
  }
}
