ul,
ol {
  font-size: inherit;

  main & {
    font-size: .9rem;
  }

  .paragraph--type--text & {
    margin-bottom: 20px; // Deprecated in styleguide 6: STIJ-383
  }

  > li {
    margin-bottom: inherit;

    main & {
      margin-bottom: 20px;
    }
  }
}
