.filter {
  p.help-text {
    @include small-text();

    margin-bottom: 40px;
  }
}

.result__show-filters.modal-trigger {
  display:  none;

  @media (max-width: $bp-desktop) {
    .sidebar-layout.filter & {
      display: flex;
    }
  }
}

.filter-show-results-button {
  display: block;

  @media (min-width: $bp-desktop) {
    display: none;
  }
}
