.filter {
  .help-text {
    @include theme('color', 'color-tertiary--lighten-1', 'filter-help-text-color');
    font-size: .6rem;
  }
}

.result__show-filters.modal-trigger {
  display:  none;

  @media (max-width: $bp-desktop) {
    .sidebar-layout.filter & {
      display: flex;
    }
  }
}

.filter-show-results-button {
  display: block;

  @media (min-width: $bp-desktop) {
    display: none;
  }
}
