.filter {
  .help-text {
    @include theme('color', 'color-tertiary--lighten-1', 'filter-help-text-color');
    font-size: .6rem;
  }
}

.selected-filters {
  .tag-list > li > a {
    @include theme('color', 'color-tertiary', 'selected-filters-link-color');

    font-weight: normal;
    text-decoration: none;

    &:hover {
      background: none;
    }

    &[rel=nofollow] {
      @include reset-link-background;
    }
  }
}

.result__show-filters.modal-trigger {
  display:  none;

  @media (max-width: $bp-desktop) {
    .sidebar-layout.filter & {
      display: flex;
    }
  }
}

.filter-show-results-button {
  display: block;

  @media (min-width: $bp-desktop) {
    display: none;
  }
}
