.field--type-image {
  table {
    margin-bottom: 1rem;
    vertical-align: middle;

    td {
      border-bottom: 1px solid $color-gray;
      padding: .5rem;
    }

    .form-managed-file {
      .image-preview {
        float: left;
        padding: 0 .5rem .5rem 0;
        width: calc(25% - 1.3rem);
      }

      .image-widget-data {
        float: left;
        width: calc(75% - 1.3rem);
      }
    }
  }
}
