.form-item .form-label > label.visually-hidden {
  width: 1px;
}

.field {
  &.field--label-inline {
    > div {
      display: inline;
    }
  }

  .field__label {
    @include bold-text;
  }
}

fieldset {
  .fieldset-legend {
    font-weight: normal;
  }
}

.field-add-more-submit {
  margin-bottom: 1rem;
}

.resize-vertical {
  min-height: 7.2rem;
}

.filter-wrapper {
  margin: -1rem 0 1rem;

  .filter-help a::after {
    top: .25rem;
  }
}

.field-multiple-table {
  th {
    text-align: left;

    &.tabledrag-hide {
      padding-left: 1rem;
    }
  }

  .draggable {
    td {
      padding: 0;

      .tabledrag-handle {
        padding: 0 .5rem 0 0;
      }

      &.tabledrag-hide {
        padding: 0 0 0 .5rem;
      }
    }

    .field-multiple-drag {
      vertical-align: middle;

      a.tabledrag-handle {
        height: 2.5rem;
        margin: -.5rem 0 0 -.5rem;

        .handle {
          height: 2rem;
          margin: .5rem;
          padding: .75rem;
          background-position: 40% 1rem;
        }
      }
    }

    .tabledrag-hide {
      padding-left: 1rem;
      vertical-align: middle;
    }
  }
}

.form-type-vertical-tabs {
  .vertical-tabs__pane {
    padding: .5rem 1rem;
  }
}

.form-item.text-format-wrapper {
  .filter-wrapper {
    @include tablet {
      @include col(6);
    }
    margin: 0;
  }
}

.filter-guidelines .filter-guidelines-item {
  margin: 0;
}
