.touchevents .field--type-image,
.field--type-image {
  table {
    margin-bottom: 1rem;
    vertical-align: middle;

    td {
      @include theme('border-color', 'color-tertiary', 'table-cell-border-color');

      padding: .5rem 0;
      border-bottom: 1px solid;
    }

    .form-managed-file {
      .image-preview {
        width: calc(25% - 1.3rem);
        padding: 0 .5rem .5rem 0;
        float: left;

        img {
          border: 0;
        }
      }

      .image-widget-data {
        width: calc(75% - 1.3rem);
        float: left;

        .file {
          word-break: break-all;
        }
      }
    }
  }
}
