{#
/**
 * @file
 * Theme override for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 */
#}
<form{{ attributes }}>
  <p class="required-fields-indicator">{{ 'Fill in all fields unless otherwise stated.'|t }}</p>
  {{ children }}
</form>
