{#
/**
 * @file
 * Theme override for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 */
#}
<form{{ attributes }}>
  {% block form_required_indicator %}
    <p
      class="form-disclaimer">{{ 'Fill in all fields unless otherwise stated.'|t }}</p>
  {% endblock %}
  {{ children }}
</form>
