{% extends "paragraph.html.twig" %}

{% block paragraph %}
  {%
    set classes = [
      'quote',
    ]
  %}
  <div{{ attributes.addClass(classes) }}>
    <blockquote>
      {% block content %}
        <div class="content">
          <p>{{ content.field_quote|render|striptags('<br>')|trim|raw }}</p>
        </div>
      {% endblock %}
      <footer>
        {{ content.field_author|render|striptags|trim }}, {{ content.field_position|render|striptags|trim }}
      </footer>
    </blockquote>
  </div>
{% endblock paragraph %}
