@mixin visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
  width: 1px;
  word-wrap: normal;
}

@mixin map-button-box-shadow {
  box-shadow: 0 3px 14px rgba(0, 0, 0, .4);
}
