@mixin visually-hidden {
  position: absolute !important; // sass-lint:disable-line no-important
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  word-wrap: normal;
}

@mixin box-shadow($horizontal: 0, $vertical: 3px, $blur: 14px, $rgba: color('gray', -3)) {
  box-shadow: $horizontal $vertical $blur $rgba;
}
