// @TODO: remove file when styleguide version 3.0.0-beta10 is released
[class*="cs--"] .responsive-table table {
  &,
  thead ~ tbody {
    tr:nth-child(n) td.success,
    tr.success:nth-child(n) td,
    tr.success:nth-child(n) th {
      border-color: color('green', -4);
      background-color: color('green', -4);
    }

    tr:nth-child(n) td.warning,
    tr.warning:nth-child(n) td,
    tr.warning:nth-child(n) th {
      border-color: color('orange', -4);
      background-color: color('orange', -4);
    }

    tr:nth-child(n) td.error,
    tr.error:nth-child(n) td,
    tr.error:nth-child(n) th {
      border-color: color('red', -4);
      background-color: color('red', -4);
    }
  }
}
