{% extends 'node--teaser.html.twig' %}

{% block content %}
  {{ content|without('field_teaser_image', 'og_audience', 'field_summary') }}
{% endblock %}

{% block image %}
  <div class="tags-label-wrapper">
    {# Rendered as tag list. #}
    {{ content.og_audience }}
  </div>

  {% set image_ratio = '1:1' %}
  {# twigcs use-var image_ratio #}
  {% if node.hasField('field_teaser_image') %}
    {% if image_ratio is not defined %}
      {% set image_ratio = '8:5' %}
    {% endif %}
    {% apply spaceless %}
      <div class="figure-wrapper">
        <figure>
          <div class="image-wrapper" data-ratio="{{ image_ratio }}">
            {{ content.field_teaser_image }}
          </div>
        </figure>
      </div>
    {% endapply %}
  {% endif %}
{% endblock %}
