{% extends 'node--detail--layout.html.twig' %}

  {% block article_content_summary %}
    <div class="filter--nav">
      <ul class="links inline">
        {% for link in content.anchor_links %}
          <li><a href="#{{ link }}">{{ link }}</a></li>
        {% endfor %}
      </ul>
    </div>
    {{ content.field_related_terrains }}
  {% endblock %}
