{% extends 'node--detail--layout.html.twig' %}

{% block article_aside_bottom %}
  {{ parent() }}

  <p class="changed-date">{{ 'Last changed'|t }}: {{ dateChanged|dg_format_date('text') }}</p>
{% endblock %}
