{% extends 'node--teaser.html.twig' %}

{% block content %}
  <div class="date">
    <span>{{ content.field_event_date }}</span>
  </div>

  {{ content|without('field_teaser_image', 'og_audience', 'field_event_date') }}
{% endblock %}

{% block image %}
  <span class="label">
    <i class="icon-calendar"></i>
    <span>{{ 'Event'|t }}</span>
  </span>

  {{ parent() }}
{% endblock %}
