// Overrides the default contextual link styling.
.contextual {
  .trigger,
  .trigger:focus,
  .trigger:hover {
    @include theme('background-color', 'color-secondary', 'contextual-link-background');

    border: 1px solid #ccc;
    background-image: url("../../../../contrib/gent_base/source/img/pencil.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: .75rem;
  }

  .trigger:focus,
  .trigger:hover {
    border-bottom: 0;
  }
}
