nav.holder {
  padding: 3px 0;
  height: 48px;

  @include mq($bp-tablet-s) {
    padding: 7px 0;
    height: 60px;
  }

  @include mq($bp-tablet-m) {
    height: 54px;
  }

  .brand {
    height: 32px;
    margin: 5px 0;
    overflow: hidden;

    @include mq($bp-tablet-s) {
      height: 38px;
    }

    @include mq($bp-tablet-m) {
      height: 40px;
      margin: 0;
    }

    .brand__logo, .brand__tagline {
      width: 32px;
      margin-top: 5px;

      @include mq($bp-tablet-s) {
        width: 52px;
        margin-top: 0;
      }

      @include mq($bp-tablet-m) {
        width: 55px;
        margin-top: 0;
      }
    }
    .brand__tagline {
      margin-left: 32px; // logo-width
      display: block;
      float: left;

      @include mq($bp-tablet-s) {
        margin-left: 52px; // logo-width
      }

      @include mq($bp-tablet-m) {
        margin-left: 55px; // logo-width
      }
    }
    .thema_title {
      display: table;
      height: 100%;
      margin: 0 0 0 74px; // 0 0 0 ((logo-width * 2) + 10)

      @include mq($bp-tablet-s) {
        margin: 0 0 0 114px; // 0 0 0 ((logo-width * 2) + 10)
      }

      @include mq($bp-tablet-m) {
        margin: 0 0 0 120px; // 0 0 0 ((logo-width * 2) + 10)
      }

      .vertical-align {
        display: table-cell;
        vertical-align: middle;

        span {
          $line-height: 16px;
          color: white;
          line-height: $line-height;
          font-size: 14px;
          font-weight: bold;
          font-family: $alpha-font-family;
          display: block;
          position: relative;

          &:after {
            content: "...";
            position: absolute;
            top: $line-height; // line-height
            height: calc(100% - #{$line-height * 2}); // 100% - (line-height * 2)
            right: 0;
            width: 33%;
            overflow: hidden;
            background: #2c3f48;
            padding-left: 5px;
          }

          @include mq($bp-tablet-s) {
            $line-height: 19px;
            line-height: $line-height;

            &:after {
              top: $line-height; // line-height
              height: calc(100% - #{$line-height * 2}); // 100% - (line-height * 2)
            }
          }

          @include mq($bp-tablet-m) {
            $line-height: 20px;
            line-height: $line-height;
            font-size: 16px;

            &:after {
              top: $line-height; // line-height
              height: calc(100% - #{$line-height * 2}); // 100% - (line-height * 2)
            }
          }
        }
      }
    }
  }
}

.brand {
  @include add-grid(12);
  @include add-gutter(0);

  position: absolute; //move to top on small mobile devices
  //z-index: $z-alpha;
  background-color: transparent;
  //top: -12px;

  @include mq($bp-desktop-s, 'max') {
    .padding--big {
      padding-top: #{$grid-gutter}px;
      padding-bottom: #{$grid-gutter}px;
    }
  }

  @include mq($bp-tablet-s) {
    @include add-grid(24);
    top: 0px;
    width: 100%;
    z-index: $z-gamma;
  }
}

.brand__logo {
  @include grid-span(7);
  width: 60px;

  @include mq($bp-tablet-s) {
    width: 70px;
  }
  @include mq($bp-tablet-m) {
    width: 85px;
  }
  @include mq($bp-desktop-s) {
    width: 97px;
  }
  @include mq($bp-desktop-m) {
    width: 110px;
  }
}

.brand__tagline {
  width: 60px;
  margin-left: 60px;
  display: block;

  @include mq($bp-tablet-s) {
    width: 70px;
    margin-left: 70px;
  }
  @include mq($bp-tablet-m) {
    width: 85px;
    margin-left: 85px;
  }
  @include mq($bp-desktop-s) {
    width: 97px;
    margin-left: 97px;
  }
  @include mq($bp-desktop-m) {
    width: 110px;
    margin-left: 110px;
  }
}

.brand__logo__inner,
.brand__tagline__inner {
  position: absolute;
  top: 0;
  width: 100%;
  transition: 0;
}

.brand__logo__inner {
  @extend %hide-text;
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 100%;
  display: block;
  position: relative;
  overflow: hidden;
  height: 40px;
  padding-top: 72%;
  width: 100%;
  background-image: url('#{$base-theme-path}/img/png/logo--part1.png');

  .svg & {
    background-image: url('#{$base-theme-path}/img/svg/logo--part1.svg');
  }
}

.brand__tagline__inner {
  @extend %hide-text;
  display: block;
  position: relative;
  overflow: hidden;
  height: 40px;
  background-image: url('#{$base-theme-path}/img/png/logo--part2.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 100%;
  padding-top: 72%;
  width: 100%;

  .svg & {
    background-image: url('#{$base-theme-path}/img/svg/logo--part2.svg');
  }
}


.brand__footer__wrapper {
  border-radius: $beta-radius;
  width: 100%;

  @include mq($bp-tablet-m) {
    position: absolute;
    bottom: 6em;
    width: 200px;
  }

  p {
    display:block;
    margin-bottom:0;
    color:$gamma-text-color;
  }

  a {
    color:$gamma-text-color;
    text-decoration:none;

    &:hover {
      text-decoration:underline;
    }
  }
}

.brand__footer {

  width: 100%;
  height: 100px;

  @extend %hide-text;

  border-radius: $beta-radius;

  background-image: url('#{$base-theme-path}/img/png/logo--footer.png');
  background-repeat: no-repeat;
  background-position: center top;

  .svg & {
    background-image: url('#{$base-theme-path}/img/svg/logo--footer.svg');
  }
}

.brand__footer__sub__text {

  @include text-dimensions(-2, 1);
  text-align:center;
  margin-bottom:0;

  @include mq($bp-tablet-m) {
    width: 200px;
  }
}

.brand__footer__sub__logo {
  @extend %clearfix;
  @include text-dimensions(-2, 0.8);
  @include px-padding-lr(0.7, 0);

  display:block;
  width: 104px;
  clear:both;
  text-align:center;
  margin: 0 auto;

  background-image: url('#{$base-theme-path}/img/png/logo--digipolis.png');
  background-repeat: no-repeat;
  background-position: left top;
}

.brand__district {
  @extend %hide-text;
  @include margin-tb(0, 1);
  width: 177px;
  height: 87px;

  border-radius: $beta-radius;

  background-image: url('#{$base-theme-path}/img/png/logo--wijkvandemaand.png');
  background-repeat: no-repeat;
  background-position: center top;
}
