//
// Brand.
//
nav.holder {
  padding: 3px 0;
  height: 48px;

  @include mq($bp-tablet-s) {
    padding: 7px 0;
    height: 60px;
  }

  @include mq($bp-tablet-m) {
    height: 54px;
  }

  .brand {
    height: 32px;
    margin: 5px 0;
    overflow: hidden;
    width: 50%;

    @include mq($bp-tablet-s) {
      height: 38px;
    }

    @include mq($bp-tablet-m) {
      height: 40px;
      margin: 0;
    }

    .brand__logo {
      width: 32px;
      margin-top: 5px;

      @include mq($bp-tablet-s) {
        width: 52px;
        margin-top: 0;
      }

      @include mq($bp-tablet-m) {
        width: 55px;
        margin-top: 0;
      }
    }

    // Legacy classname.
    .thema_title { // sass-lint:disable-line class-name-format
      display: table;
      height: 100%;
      margin: 0 0 0 42px; // 0 0 0 ((logo-width * 2) + 10)

      @include mq($bp-tablet-s) {
        margin: 0 0 0 62px; // 0 0 0 ((logo-width * 2) + 10)
      }

      @include mq($bp-tablet-m) {
        margin: 0 0 0 65px; // 0 0 0 ((logo-width * 2) + 10)
      }

      .vertical-align {
        display: table-cell;
        vertical-align: middle;

        span {
          $line-height: 16px;
          color: $white-color;
          line-height: $line-height;
          font-size: 14px;
          font-weight: bold;
          font-family: $alpha-font-family;
          display: block;
          position: relative;

          &::after {
            content: '...';
            position: absolute;
            top: $line-height; // line-height
            height: calc(100% - #{$line-height * 2}); // 100% - (line-height * 2)
            right: 0;
            width: 33%;
            overflow: hidden;
            background: $beta-ui-color;
            padding-left: 5px;
          }

          @include mq($bp-tablet-s) {
            $line-height: 19px;
            line-height: $line-height;

            &::after {
              top: $line-height; // line-height
              height: calc(100% - #{$line-height * 2}); // 100% - (line-height * 2)
            }
          }

          @include mq($bp-tablet-m) {
            $line-height: 20px;
            line-height: $line-height;
            font-size: 16px;

            &::after {
              top: $line-height; // line-height
              height: calc(100% - #{$line-height * 2}); // 100% - (line-height * 2)
            }
          }
        }
      }
    }
  }
}

.brand {
  @include add-grid(12);
  @include add-gutter(0);

  position: absolute; // Move to top on small mobile devices.
  background-color: transparent;

  @include mq($bp-desktop-s, 'max') {
    .padding--big {
      padding-top: #{$grid-gutter}px;
      padding-bottom: #{$grid-gutter}px;
    }
  }

  @include mq($bp-tablet-s) {
    @include add-grid(24);
    top: 0;
    width: 100%;
    z-index: $z-gamma;
  }
}

.brand__logo {
  @include grid-span(7);
  width: 80px;

  @include mq($bp-tablet-s) {
    width: 93px;
  }
  @include mq($bp-tablet-m) {
    width: 113px;
  }
  @include mq($bp-desktop-s) {
    width: 129px;
  }
  @include mq($bp-desktop-m) {
    width: 143px;
  }
}

.brand__logo__inner {
  position: absolute;
  top: 0;
  width: 100%;
  transition: none;
}

.brand__logo__inner {
  @extend %hide-text;

  display: block;
  position: relative;
  overflow: hidden;
  height: 40px;
  padding-top: 72%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 100%;
  background-image: url('#{$base-theme-path}/img/png/logo--part1.png'); // Fallback to old logo ...

  .svg & {
    background-image: url('#{$base-theme-path}/img/svg/logo--gentcolon.svg');
  }
}

.brand__footer__wrapper {
  text-align: right;

  p {
    margin-bottom: 0;
    color: $gamma-text-color;
  }

  a {
    color: $gamma-text-color;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.brand__footer {
  @extend %hide-text;

  width: 100%;
  height: 100px;
}

.brand__footer__sub__text {
  @include text-dimensions(-2, 1);

  margin-bottom: 0;
}

.brand__footer__sub__logo {
  @include text-dimensions(-2, .8);

  display: inline-block;
  padding-left: 20px;
  background: transparent url('#{$base-theme-path}/img/png/logo--district09.png') no-repeat left top;
}

.brand__district {
  @extend %hide-text;
  @include margin-tb(0, 1);

  width: 177px;
  height: 87px;
  background: transparent url('#{$base-theme-path}/img/png/logo--wijkvandemaand.png') no-repeat center top;
}
