.brand {
  @include add-grid(12);
  @include add-gutter(0);

  position: absolute; //move to top on small mobile devices
  z-index: $z-alpha;
  background-color: transparent;
  top: -12px;
  @include mq($bp-tablet-s) {
    @include add-grid(24);
    top: 0px;
    width: 100%;
  }
}

.brand__logo {
  @include grid-span(7);
  width: 60px;

  @include mq($bp-tablet-s) {
    width: 90px;
  }
  @include mq($bp-tablet-m) {
    width: 135px;
  }
  @include mq($bp-tablet-l) {
    width: 170px;
  }
}

.brand__tagline {
  display: none;
  @include mq($bp-tablet-s) {
    width: 90px;
    margin-left: 90px;
    display: block;
  }
  @include mq($bp-tablet-m) {
    width: 135px;
    margin-left: 135px;
    display: block;
  }
  @include mq($bp-tablet-l) {
    width: 170px;
    margin-left: 170px;
    display: block;
  }
}

.brand__logo__inner,
.brand__tagline__inner {
  position: absolute;
  top: 0;
  width: 100%;
  transition: 0;
}

.brand__logo__inner {
  @extend %hide-text;
  background-color: $alpha-ui-color;
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 100%;
  display: block;
  position: relative;
  overflow: hidden;
  height: 40px;
  border-radius: $beta-radius;
  padding-top: 72%;
  width: 100%;
  background-image: url('#{$base-theme-path}/img/png/logo--part1.png');

  .svg & {
    background-image: url('#{$base-theme-path}/img/svg/logo--part1.svg');
  }
}

.brand__tagline__inner {
  @extend %hide-text;
  display: block;
  position: relative;
  overflow: hidden;
  height: 40px;
  border-radius: $alpha-radius;
  background-image: url('#{$base-theme-path}/img/png/logo--part2.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 100%;
  background-color: $white-color;
  padding-top: 72%;
  width: 100%;
  border-radius: $beta-radius;

  .svg & {
    background-image: url('#{$base-theme-path}/img/svg/logo--part2.svg');
  }
}


.brand__footer__wrapper {
  
  border-radius: $beta-radius;
  
  width: 100%;
  height: 100px;
  
  @include mq($bp-tablet-m) {
    position: absolute;
    bottom: 6em;
    width: 200px;
  }
  
  p {
    display:block;
    margin-bottom:0;
    color:$gamma-text-color;
  }
  
  a {
    color:$gamma-text-color;
    text-decoration:none;
    
    &:hover {
      text-decoration:underline;
    }
  }
}

.brand__footer {

  width: 100%;
  height: 100px;
  
  @extend %hide-text;

  border-radius: $beta-radius;

  background-image: url('#{$base-theme-path}/img/png/logo--footer.png');
  background-repeat: no-repeat;
  background-position: center top;

  .svg & {
    background-image: url('#{$base-theme-path}/img/svg/logo--footer.svg');
  }
}

.brand__footer__sub__text {
  
  @include text-dimensions(-2, 1);
  text-align:center;
  margin-bottom:0;
  
  @include mq($bp-tablet-m) {
    width: 200px;
  }
}

.brand__footer__sub__logo {
  @extend %clearfix;
  @include text-dimensions(-2, 0.8);
  @include px-padding-lr(0.7, 0);
  
  display:block;
  width: 104px;
  clear:both;
  text-align:center;
  margin: 0 auto;
  
  background-image: url('#{$base-theme-path}/img/png/logo--digipolis.png');
  background-repeat: no-repeat;
  background-position: left top;
}


.brand__district {
  @extend %hide-text;
  @include margin-tb(0, 1);
  width: 177px;
  height: 87px;

  border-radius: $beta-radius;

  background-image: url('#{$base-theme-path}/img/png/logo--wijkvandemaand.png');
  background-repeat: no-repeat;
  background-position: center top;
}
