//
// Buttons.
//
%btn--alpha {
  @include btn--alpha;
}

%btn--beta {
  @include btn--beta;
}

%btn--beta--alt {
  @include btn--beta--alt;
}

%btn--gamma {
  @include btn--gamma;
}

@mixin btn--delta {
  @include margin-tb(1, 0);
  color: $beta-ui-color;
  background-color: $white-color;

  &:hover {
    color: $beta-ui-color;
    background-color: $white-color;
  }

  &:focus,
  &:active {
    color: $beta-ui-color;
    background-color: $white-color;
  }
}

%btn--delta {
  @include btn--delta;
}

%btn--epsilon {
  @include btn--epsilon;
}

%btn--zeta {
  @include btn--zeta;
}

%btn--disabled {
  @include btn--disabled;
}

.btn,
a.btn {
  @include btn;
}

// Button sizes.
.small.btn,
.btn--small,
a.btn--small,
input[type='submit'].btn--small {
  @include btn-s;
}

.medium.btn,
.btn--medium,
a.btn--medium,
input[type='submit'].btn--medium {
  @include btn-m;
}

.large.btn,
.btn--large,
a.btn--large,
input[type='submit'].btn--large {
  @include btn-l;
}

.inline.btn,
.btn--inline,
a.btn--inline,
input[type='submit'].btn--inline {
  @include btn-inlineblock
}

// Button variations.
.btn--alpha,
a.btn--alpha {
  @include btn--alpha;
}

.btn--beta,
a.btn--beta {
  @include btn--beta;
}

.btn--beta--alt,
a.btn--beta--alt {
  @include btn--beta--alt;
}

.btn--delta,
a.btn--delta {
  @include btn--delta;
}

.btn--gamma,
a.btn--gamma {
  @include btn--gamma;
}

.btn--epsilon,
a.btn--epsilon {
  @include btn--epsilon;
}

.btn--disabled,
a.btn--disabled {
  @include btn--disabled;
}

.btn--zeta,
a.btn--zeta {
  @include btn--zeta;
}

.btn--option-link {
  @include text-dimensions(-4, .5);
  background: $gamma-ui-color;
  color: $alpha-text-color;
  display: block;
  font-weight: $alpha-font-weight;
  text-align: center;
  text-decoration: none;

  &:hover {
    background: lighten($gamma-ui-color, 5);
  }
}
