//
// Call to actions.
//
.cta {
  @include clearfix;
  @include padding-tb(.5, 1.5);

  &:hover,
  &:focus {
    .cta__inner {
      background-color: $white-color;
    }
  }

  a {
    @include add-grid(14);
    @include add-gutter(0);
  }
}

.cta__inner {
  @include float-span(11);
  @include px-padding-lr(2, 2);
  @include padding-tb(.5, .5);
  border: 1px solid desaturate(darken($gamma-ui-color, 10), 20);
  border-radius: $beta-radius;
  background-color: $gamma-ui-color;
  transition: background-color .2s ease-in-out;

  p {
    font-size: 95%;
    margin-bottom: 0;
  }

  @include mq($bp-tablet-s) {
    @include float-span(12);
  }
}

.cta__icon {
  @include float-span(3);
  @include padding-tb(1.4, 1.4);
  text-align: center;
  color: $white-color;
  font-size: 1.3em;
  position: relative;
  background-color: $alpha-ui-color;
  border-radius: $beta-radius;

  @include mq($bp-tablet-s) {
    @include float-span(2);
  }
}


// Legacy support for existing content
// We should migrate this after we have an input filter
.article-content-action {
  @include clearfix;
  @include px-padding-lr(2, 0);
  @include margin-tb(.5, .5);

  display: block;
  position: relative;

  margin-right: calc(14% + 1px);
  border: 1px solid desaturate(darken($gamma-ui-color, 10), 20);

  border-radius: $beta-radius;
  background-color: $gamma-ui-color;
  transition: background-color .2s ease-in-out;
  text-decoration: none;

  p {
    font-size: 95%;
    margin-bottom: 0;
  }

  &:hover,
  &:focus {
    background-color: $white-color;
  }
}

.article-content-action-document {
  @include mq($bp-phone-s) {
    max-width: 65%;
  }
  @include mq($bp-tablet-s) {
    max-width: 55%;
  }
  @include mq($bp-tablet-m) {
    max-width: 65%;
  }
  @include mq($bp-desktop-m) {
    max-width: 70%;
  }
  @include padding-tb(0, .5);

  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  float: left;
}

.article-content-action-title {
  @include padding-tb(.5, 0);
  @include text-dimensions(0, 1, 0);

  color: $beta-ui-color;
  margin: 0;
  display: block;
  font-weight: bold;
  width: 85%;
}

.article-content-action .icon {
  @include icon-base-css;
  @include padding-tb(1.4, 1.4);

  display: block;
  position: absolute;
  right: -17%;
  top: 0;
  bottom: 0;

  width: calc(17% - 1px);

  text-align: center;
  color: $white-color;
  font-size: 1.3em;
  background-color: $alpha-ui-color;
  border-radius: $beta-radius;
}

.article-content-action %icon-document-before {
  @include icon-clip-before; // sass-lint:disable-line placeholder-in-extend
}

.article-content-action-document-size {
  @include filesize; // sass-lint:disable-line placeholder-in-extend

  &::before {
    content: '\00a0 ';
  }
}
