.divider-top {
  border-top: 1px solid desaturate(darken($gamma-ui-color, 10), 20);
}

.border-top {
  border-top: 1px solid desaturate(darken($gamma-ui-color, 10), 20);
}

.border-bottom {
  border-bottom: 1px solid desaturate(darken($gamma-ui-color, 10), 20);
}

// State overrides
.no-border {
  border:0 !important;
}
  
.no-border-top {
  border-top:0 !important;
}

.no-border-bottom {
  border-bottom:0 !important;
}
