//
// Field styling.
//
.field-label-inline .field-label {
  float: left;
}

.field-label {
  font-weight: bold;
}

.label-inline {
  float: left;
}

// General wrapper for fields with an inline label. 
// Use matchHeight to give label and content the same height.
.inline-label-wrapper {
  @include clearfix();

  .label-inline {
    @include float-span(24);

    padding: 0;
    font-weight: bold;

    // Default width, override per case when not enough.
    @include mq($bp-tablet-m) {
      @include float-span(6);
    }
  }

  // Give a width to the field items
  .field-items {
    @include float-span(24);
    @include mq($bp-tablet-m) {
      @include float-span(18);
    }

    list-style: none;
    margin: 0;
    padding: 0;
  }

  ul {
    list-style: none;
  }
}

.label-above {
  @include padding-tb(1, 0);
}

// Reset some inline labels to not have a fixed width
.regular .label-inline {
  font-weight: normal;
}

.small .label-inline,
.milli .label-inline {
  float: none;
  font-weight: normal;
  width: auto;
  display: inline-block;
}

p.date {
  font-size: 80%;
  color: $beta-text-color;
}

.l-secondary .field-type-image img {
  border-radius: $gamma-radius;
}

.island--kappa {
  .address-line2 {
    @include margin-tb(0, 1);
  }

  span.note {
    @include em-margin-lr(1);
  }
}
