form {
  .description {
    @include text-dimensions(-1,1,0,.25);

    color: $gamma-text-color;
  }

}

.form-item,
.form-actions {
  @include margin-bottom(1);
}

legend,
label,
.label {
  @include text-dimensions(0,1,0,0,.25);

  display: block;
  width: 100%;

  cursor: pointer;
}

.label {
  cursor: auto;
  padding-bottom: 0;
}

// Input elements

input[type="input"],
input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="url"],
input[type="number"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[name="field_country_code"],
input[name="field_city_code"],
input[name="field_phone_int"],
select[multiple],
textarea {
  @include border-box;
  @include input-m;

  margin: 0;
  width: 100%;
  display: block;

  border-radius: $radius-1;
  border: 1px solid darken($gamma-ui-color,10);

  color: $gamma-text-color;
  line-height: 1;

  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;

  &:hover {
    box-shadow: 0 0 5px 1px rgba($alpha-text-color,.15);
    border-color: darken($gamma-ui-color,20);
  }
  &:focus {
    outline: none;

    box-shadow: 0 0 5px 1px rgba($alpha-link-color,.5);
    border-color: darken($alpha-link-color, 0);

    color: $alpha-text-color;
  }
}

select {
  @include border-box;
  @include input-dimensions(-2,1.75,0);
  height: 2.37em;

  margin: 0;
  padding-top: 0.5em;
  width: 100%;
  display: block;

  border-radius: $radius-1;
  border: 1px solid darken($gamma-ui-color,10);

  color: $gamma-text-color;

  &:hover {
    box-shadow: 0 0 5px 1px rgba($alpha-text-color,.15);
    border-color: darken($gamma-ui-color,20);
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 5px 1px rgba($alpha-link-color,.5);
    border-color: darken($alpha-link-color, 0);

    color: $alpha-text-color;
  }
}

textarea {
  display: block;
  resize: none;
  overflow: auto;
}

.small.input-textarea {
  height: 5em;
}

.medium.input-textarea {
  height: 7.5em;
}

.large.input-textarea {
  height: 10em;
}

.xlarge.input-textarea {
  height: 20em;
}

.option-group {
  @extend %clearfix;
  @include list-nav;

  label {
    padding-bottom: 0;
    margin-bottom: 0;
  }
}

.input-option {
  position: relative;
  top: -2px;
  padding: 0;
  margin: 0 .5em 0 0;
  position: relative;
  width: 13px;
  height: 13px;

  cursor: pointer;
  vertical-align: middle;
  *overflow: hidden;
}

.label-option {
  cursor: pointer;
  vertical-align: middle;
}

// Placeholders

::-webkit-input-placeholder {
  color: $gamma-text-color;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

:-moz-placeholder {
  color: $gamma-text-color;
  font-smoothing: antialiased;
}

::-moz-placeholder {
  color: $gamma-text-color;
  font-smoothing: antialiased;
}

:-ms-input-placeholder {
  color: $gamma-text-color;
  font-smoothing: antialiased;
}

// Buttons

input[type="submit"],
button {
  @extend %btn;
  @extend .alpha.btn;
  @include btn-l;
  @include btn-inlineblock;
}
