.top-section {
  position: relative;
}
.site__header {
  background-color: $beta-ui-color;
  position: static; //for mobile logo position

  img {
    display: none;
  }

  @include mq($bp-tablet-s) {
    position: relative;
    img {
      display: block;
    }
  }
}

.ratio--home,
.ratio--header {
  padding-top: 0;
}

.header__background {
  width: 100%;
  background-size: 100% auto;
  background-position: left center;
  background-repeat: no-repeat;

  position:relative;
  margin:0 auto;
}

/* Different header heights for all pages (except homepage). */
.site__header {
  @include mq($bp-tablet-s) {
    height: 260px;
    .header__background {
      height: 260px;
    }
  }

  @include mq($bp-tablet-m) {
    height: 325px;
    .header__background {
      height: 325px;
    }
  }

  @include mq($bp-tablet-l) {
    height: 365px;
    .header__background {
      height: 365px;
    }
  }
}

/* Different header heights for homepage only. */
.large-header .site__header {
  @include mq($bp-tablet-s) {
    height: 350px;
    .header__background {
      height: 350px;
    }
  }

  @include mq($bp-tablet-m) {
    height: 440px;
    .header__background {
      height: 440px;
    }
  }

  @include mq($bp-tablet-l) {
    height: 490px;
    .header__background {
      height: 490px;
    }
  }
}

.site__header__image__gradient {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 200px;

  // IE gradient from compass hacks, set it first
  @include filter-gradient(rgba($white-color, 0), rgba($dark-color, .5), 'vertical');
  // Normal CSS3 linear gradient
  @include background(linear-gradient(to bottom, rgba($white-color, 0) 0%, rgba($dark-color, .5) 100%));

  @include mq($bp-tablet-s) {
    display: block;
  }
}

.site__header__image__title {
  width: 100%;

  h1 {
    @include margin-tb(1, 1);
    color: $white-color;
  }

  @include mq($bp-tablet-s) {
    position: absolute;
    bottom: 0;
    left: 0;
    text-shadow: 1px 1px 1px $alpha-text-color;
    //@include single-text-shadow(1px, 1px, 1px, 1px, $alpha-text-color);
    filter: progid:DXImageTransform.Microsoft.DropShadow(offX=1,offY=1,color=#{$alpha-text-color});
    h1 {
      @include margin-tb(1.5, 1.5);
    }
  }
}

.site__header__body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

// Search widget
.search-widget {
  @extend %clearfix;
  @include padding-tb(.5, 0);
  float: left;
  width: 100%;
  border-top: 1px solid lighten($beta-ui-color, 10);

  input[type="search"], input[type="text"] {
    @include grid-span(18);
    border-color: $white-color;
  }

  input[type="submit"] {
    @include grid-span(6, 19);
  }

  @include mq($bp-tablet-s) {
    float: none;
    width: auto;
    border-top: 0;
    padding-top: 0;

    input[type="search"] {
      @include grid-span(10);
      border-color: $white-color;
    }

    input[type="submit"] {
      @include grid-span(3, 11);
    }
  }

  @include mq($bp-tablet-l) {
    input[type="search"] {
      @include grid-span(8);
      border-color: $white-color;
    }

    input[type="submit"] {
      @include grid-span(3, 9);
    }
  }
}

// Search widget home
.large-header .search-widget {
  @extend %clearfix;
  @include padding-tb(0, 1);
  float: left;
  width: 100%;

  h1 {
    @include padding-tb(0, 1);
    text-align: center;
    margin-bottom: 0;
  }

  input[type="search"], input[type="text"] {
    @include grid-span(18);
    border-color: $white-color;
  }

  input[type="submit"] {
    @include grid-span(6, 19);
  }

  @include mq($bp-tablet-s) {
    @include padding-tb(0, 2);
    // float: none;
    // width: auto;
    // border-top: 0;
    // padding-top: 0;

    // input[type="search"] {
    //  @include grid-span(10);
    //  border-color: $white-color;
    // }

    // input[type="submit"] {
    //  @include grid-span(3,11);
    // }
  }

  @include mq($bp-tablet-l) {
    @include padding-tb(0, 3);
    // input[type="search"] {
    //  @include grid-span(8);
    //  border-color: $white-color;
    // }

    // input[type="submit"] {
    //  @include grid-span(3,9);
    // }
  }
}

// Login widget
.login-widget {
  @include grid-span(24);
  @include margin-tb(0, .5);
  @include padding-tb(.5, .1);
  position: relative;
  z-index: $z-beta;

  @include mq($bp-tablet-s) {
    @include grid-span(11, 14);
    @include padding-tb(.4, .4);
    margin: 0;
  }

  @include mq($bp-tablet-l) {
    @include grid-span(13, 12);
  }
}

.not-front {
  .search-widget {
    &> div {
      display: none;
      @include mq($bp-phone-m) {
        border-top: 1px solid #3f5b68;
        margin-top:6px;
        padding-top: 6px;
      }
      @include mq($bp-tablet-s) {
        border-top: none;
        margin-top:0;
        padding-top: 0;
      }
      @include mq($bp-tablet-s) {
        display: block;
      }
    }
  }
  nav.holder .l-primary--offset {
  @include mq($bp-tablet-s) {
    @include grid-span(20);
  }
  }
}

.not-front.page-zoeken  {
  .search-widget {
    &> div {
      display: block;
    }
  }
}
