// Search widget (large header).
.large-header .search-widget {
  @include clearfix;
  @include padding-tb(0, 1);
  border-top: 1px solid lighten($beta-ui-color, 10);
  width: 100%;

  h1 {
    @include padding-tb(0, 1);
    text-align: center;
    margin-bottom: 0;
  }

  .search-widget__input {
    @include grid-span(18);
    @include input-dimensions(-2, .8, 0, .1, .2);
    border-color: $white-color;
  }

  .search-widget__button {
    @include grid-span(6, 19);
    @include input-dimensions(-2, .8, 0, .1, .2);
  }

  @include mq($bp-tablet-s) {
    @include padding-tb(0, 3.5);
    border-top: 0;

    .search-widget__input {
      @include grid-span(18);
      border-color: $white-color;
    }

    .search-widget__button {
      @include grid-span(6, 19);
    }
  }

  @include mq($bp-tablet-l) {
    @include padding-tb(0, 3);

    .search-widget__input {
      border-color: $white-color;
    }
  }
}

// Search widget (small header).
.small-header .search-widget {
  @include clearfix;
  color: $white-color;
  height: 40px;

  .search-widget__input {
    float: left;
    width: 200px;
    height: 40px;
    border-radius: 4px;
    border: none;
    background-color: rgba($white-color, 0.2);
    color: $white-color;

    @include placeholder {
      color: $white-color;
      opacity: 1;
    }

    // Hide on mobile.
    display: none;
    @at-root & {
      @include mq($bp-tablet-s) {
        display: inline-block;
      }
    }
  }

  .search-widget__button {
    float: left;
    padding: $alpha-font-size * 0.45 * 1px;
    font-size: $alpha-font-size * 1px;
    height: 40px;
    border: none;
    margin: 0 0 0 10px;
    border-radius: 4px;
    background-color: transparent;

    &:hover {
      background-color: $white-color;
      color: $beta-ui-color;
    }

    .icon {
      font-size: 20px;
    }

    // Hide on mobile.
    display: none;
    @at-root & {
      @include mq($bp-tablet-s) {
        display: inline-block;
      }
    }

    &.search-widget__input {
      margin-left: 0;
    }

    &.search-widget__submit {
      margin-left: 0;
    }

    &.search-widget__close_handle {
      float: right;
    }
  }

  // Always hide, will get shown in javascript.
  .search-widget__close_handle {
    display: none;
  }

  // Show on mobile initially.
  .search-widget__open_handle {
    display: inline-block;
    @at-root & {
      @include mq($bp-tablet-s) {
        display: none;
      }
    }
  }

  &.is-open {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 10px;
    right: 10px;
    bottom: 0;
    background-color: $beta-ui-color;
  }
}

