//
// Header styling.
//
.top-section {
  position: relative;
}

.site__header {
  background-color: $white-color;
  position: static; // For mobile logo position.

  img {
    display: none;
  }

  .caption {
    display: none;
    float: right;

    &.caption--inside {
      float: none;
      position: absolute;
      left: $grid-margin * 2px;
      bottom: 7px;
      padding: 3px;

      background-color: $white-color;
      opacity: .6;

      color: $beta-ui-color;
      font-size: 11px;
      line-height: 11px;
      font-style: inherit;
    }
  }

  @include mq($bp-tablet-s) {
    position: relative;

    img {
      // sass-lint:disable-block no-important
      width: auto !important;
      height: auto !important;
      display: block;
    }

    .caption {
      display: block;
    }

    .header__background img {
      // Horizontal center the banner image if it doesn't fill the whole area.
      margin: 0 auto;
    }
  }
}

// Hide header image on front page / mobile.
.front .header__background {
  display: none;
  @include mq($bp-tablet-s) {
    display: block;
  }
}

.top-section .site__header__normal__title h1 {
  @include text-dimensions(5, 1.5, 0, 0, 0, .8);
  margin-bottom: 0;

  @include mq($bp-tablet-s) {
    @include text-dimensions(5, 1.5, 0, 0, 0, 1.56);
    color: #000;
  }
}

.ratio--home,
.ratio--header {
  padding-top: 0;
}

.ratio--header.mask {
  overflow: visible;
}

.header__background {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  max-height: 420px;
  overflow: hidden;
}

.large-header {
  .header__background {
    max-height: 490px;
  }
}

.header--has-accolade .header__background::after {
  display: none;
  position: absolute;
  z-index: 10;
  bottom: -1px;
  left: -130px;
  right: 0;
  height: $accolade-height;
  content: '';

  background: transparent url('#{$base-theme-path}/img/svg/accolade-down.svg') no-repeat left top;
  background-size: auto $accolade-height;

  @include mq($bp-tablet-s) {
    display: block;
  }

  // The padding surrounding our content div becomes flexible from
  // $bp-desktop-s (1340px 83em) until $bp-container (1600px 100em)
  // We fix the accolade background by changing the left position per 1em.
  // When we reach the container width (1600px), we need no worry.
  $min: 83;
  $max: 100;
  @for $i from $min through ($max - 1) {
    @media (min-width: #{$i}em) and (max-width: #{$i + .999}em) {
      left: #{-130 + (130 * (($i - $min) / ($max - $min)))}px;
    }
  }

  @include mq($bp-container) {
    left: 0;
  }
}

@include mq($bp-tablet-s) {
  .header--has-accolade .site__header__image__title {
    bottom: #{$accolade-height - 2px};
  }
}

.site__header__image__gradient {
  // IE gradient from compass hacks, set it first.
  @include filter-gradient(rgba($white-color, 0), rgba($dark-color, .5), 'vertical');
  // Normal CSS3 linear gradient.
  @include background(linear-gradient(to bottom, rgba($white-color, 0) 0%, rgba($dark-color, .5) 100%));

  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 200px;

  @include mq($bp-tablet-s) {
    display: block;
  }
}

.site__header__image__title {
  width: 100%;

  h1 {
    @include margin-tb(1, 1);
    color: #000;
  }

  @include mq($bp-tablet-s) {
    position: absolute;
    bottom: 0;
    left: 0;
    text-shadow: 1px 1px 1px $alpha-text-color;
    filter: progid:DXImageTransform.Microsoft.DropShadow(offX=1,offY=1,color=#{$alpha-text-color});

    h1 {
      @include margin-tb(1.5, 1.5);
      @include text-dimensions(5, 1.3);
      color: $white-color;
    }
  }
}

.front {
  .site__header__image__title {
    h1 {
      color: $white-color;
    }
  }
}

.site__header__body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

// Login widget
.login-widget {
  @include grid-span(24);
  @include margin-tb(0, .5);
  @include padding-tb(.5, .1);
  position: relative;
  z-index: $z-beta;
  width: auto;

  @include mq($bp-tablet-s) {
    @include grid-span(11, 14);
    @include padding-tb(.2, 0);
    margin: 0;
  }

  @include mq($bp-tablet-l) {
    @include grid-span(13, 12);
  }
}

// Gent auth bar.
body.gent-auth-bar {
  // Hide the "Mijn Gent" block when the auth bar is present (you are logged in into Mijn Gent).
  #block-gentbe-general-gent-auth { // sass-lint:disable-line no-ids
    display: none;
  }
}

// Maintenance page.
.maintenance-page {
  // Overwrite the absolute positioning of the brand logo to avoid text overlap.
  .top-section {
    .site__header {
      background-color: transparent;

      .brand {
        position: relative;
      }
    }
  }
}
