.island {
  @include margin-tb(1, 1);
}

.island--alpha {
  @include px-padding-lr(1.5, 1.5);
  @include padding-tb(.7, .9);
  @include margin-tb(.6, .6);
  border: 1px solid desaturate(darken($gamma-ui-color, 5), 10);
  background-color: $white-color;
  border-radius: $gamma-radius;

  ul,
  p {
    font-size: 95%;
    line-height: 1.4em;
  }

  h3 {
    @include padding-tb(0, .5);

    a {
      text-decoration:none;
    }
  }

  p {
    @include margin-tb(0, .3);
  }

  p:last-child {
    margin-bottom: 0;
  }

  h4,
  .h4 {
    color: $alpha-ui-color;
  }

  i {
    @include px-padding-lr(0, .5);
    color: $delta-ui-color;
  }
}

.island--beta {
  @include padding-tb(.7, 1.4);

  a, p, li, span {
    font-size: 0.9rem;
    line-height: 1.4em;
  }

  h3 {
    @include padding-tb(0, .5);
    @include margin-tb(0, .5);
    border-bottom: 1px solid desaturate(darken($gamma-ui-color, 5), 10);

    a {
      text-decoration:none;
    }
  }

  i {
    @include px-padding-lr(0, .7);
    color: $alpha-ui-color;
  }
}

.region-content-bottom .island--beta:first-of-type {
  padding-top:0;
  margin-top:0;
}

.island--gamma {
  @include padding-tb(0, .7);
  color: $gamma-text-color;

  h3 {
    color: $white-color;
    font-size: 95%;
    line-height: 1.5em;
  }

  a {
    color: $gamma-text-color;
    text-decoration: none;

    &:visited {
      color: $gamma-text-color;
    }

    &:hover,
    &:focus {
      color: lighten($gamma-text-color, 20);
    }
  }

  li {
    @include padding-tb(.1, .1);
    font-size: 90%;
    line-height: 1.5em;
  }

  i {
    @include px-margin-lr(0, 1);
  }

  .milli {
    font-size: 80%;
    @include padding-tb(.2, .2);
  }

  .milli a {
    color: lighten($delta-ui-color, 10);
    text-decoration: underline;

    &:visited {
      color: lighten($delta-ui-color, 10);
    }

    &:hover,
    &:focus {
      color: lighten($delta-ui-color, 20);
      text-decoration: none;
    }
  }

  @include mq($bp-phone-m) {
    @include px-padding-lr(1, 1);
  }

  @include mq($bp-tablet-m) {
    @include px-padding-lr(2, 2);
    @include padding-tb(.9, .7);
  }
}

.island__gamma_ui_color {
  font-size: 18px;
  @include px-padding-lr(1.5, 1.5);
  @include padding-tb(.7, .9);
  background-color: $gamma-ui-color;
  border-radius: $gamma-radius;
  border: 1px solid desaturate(darken($gamma-ui-color-dark, 5), 10);
  position: relative;
  h2 {
    color: $beta-ui-color;
    @include text-dimensions(0, 1, 1);
    font-size: 1rem;
  }
  a {
    color: $alpha-ui-color;
    font-size: 18px;
  }
}


.island--delta {
  @include px-padding-lr(2, 2);
  @include padding-tb(1, .8);
  color: $white-color;
  background-color: $alpha-ui-color;
  border-radius: $gamma-radius;

  h3 {
    @include text-dimensions(7, 1.5, 1, 0, 0);
    font-family: $beta-font-family;
    color: $white-color
  }

  a {
    color: $white-color;
    text-decoration: none;

    &:hover,
    &:focus {
      color: desaturate(lighten($alpha-ui-color, 50), 40);
    }
  }

  p,
  ul {
    font-size: 95%;
    line-height: 1.4em;
    margin:0;
  }

  li {
    @include padding-tb(.2, .2);
  }

  i {
    @include px-padding-lr(0, .7);
    color: inherit;

    &.big {
      @include px-padding-lr(0, 1.5);
      @include padding-tb(.4, .3);
      float:left;
      @include text-dimensions(10, 1.5, 0, 0, 0);

      height:100%;
      max-height:100%;

    }
  }

  a.btn--delta {
    color: $beta-ui-color;

    &:visited {
      color: $beta-ui-color;
    }

    &:hover,
    &:focus {
      color: $alpha-ui-color;
    }
  }

  .l-half {
    @include px-padding-lr(1, 1);
    @include padding-tb(.5, .5);

    @include mq($bp-tablet-m) {
      @include padding-tb(.2, .2);

      &.first {
        border-right:1px solid $white-color;
      }
    }
  }
}

.island--epsilon {
  @include px-padding-lr(2, 2);
  @include padding-tb(.7, .9);
  @include margin-tb(.6, .6);
  border: 1px solid desaturate(darken($gamma-ui-color, 5), 10);
  background-color: $delta-ui-color;
  border-radius: $gamma-radius;

  p,
  ul {
    font-size: 95%;
    line-height: 1.4em;
  }

  h2 {
    color: $white-color;
  }

  h3 {
    @include padding-tb(0, .5);
  }

  p {
    color: darken($alpha-text-color, 10);
  }

  li {
    @include padding-tb(.2, .2);
  }

  i {
    @include px-padding-lr(0, .7);
    color: inherit;
  }

  a {
    color: darken($alpha-text-color, 10);
    text-decoration: none;

    &:hover,
    &:focus {
      color: darken($alpha-text-color, 20);
    }
  }

  a.btn--delta {
    color: $beta-ui-color;

    &:visited {
      color: $beta-ui-color;
    }

    &:hover,
    &:focus {
      color: $alpha-ui-color;
    }
  }

}

.island--eta {
  @include px-padding-lr(.3, 2);
  @include padding-tb(0, 1.5);

  h3 {
    @extend h2;
    padding-top: 0;
    color: $alpha-ui-color;
    transition: color .3s ease-in-out;

    a {
      text-decoration:none;
    }
  }

  p {
    @include margin-tb(0, .3);
  }

  p:last-child {
    margin-bottom: 0;
  }

  ul {
    font-size: 95%;
    line-height: 1.4em;
  }

  &:hover,
  &:focus {
    h3 {
      color: $alpha-link-colorhover;
    }
  }

  &:last-child {
    padding-bottom: 0;
  }

  i {
    @include px-padding-lr(0, .5);
    color: $delta-ui-color;
  }

  @include mq($bp-tablet-s) {
    @include px-padding-lr(0, 2);
    @include padding-tb(0, .5);
  }
}

.island--zeta {
  @include margin-tb(.6, .6);

  h2 {
    padding-top:0;
    @include padding-tb(0, .5);
  }

  h3 {
    color: $alpha-ui-color;
    transition: color .3s ease-in-out;
    border:none;
    a {
      text-decoration:none;
      color: $alpha-ui-color;
    }
  }

  p {
    @include margin-tb(0, .3);
  }

  p:last-child {
    margin-bottom: 0;
  }

  i {
    @include px-padding-lr(0, .5);
  }

  .island__image {
    img {
      background-color: $white-color;
      border-radius: $gamma-radius;
      width:100%;
    }
  }

  .island__body {
    @include px-padding-lr(1.5, 1.5);
    @include padding-tb(.7, .9);
    background-color: $white-color;
    border-radius: $gamma-radius;
    border: 1px solid desaturate(darken($gamma-ui-color, 5), 10);
    position: relative;
  }


  .date,
  .event,
  .meta {
    font-size: 80%;
    color: $beta-text-color;
  }

  .event {
    display:inline-block;
    background-color:$alpha-ui-color;
    color:$white-color;
    border-radius: $radius;
    @include px-padding-lr(.5, .5);
    @include padding-tb(.2, .2);
    @include margin-tb(.5, .5);

    span.data {
      display:inline-block;
      @include px-padding-lr(.8, 1);
    }
  }

  &:hover,
  &:focus {
    h3 {
      color: $alpha-link-colorhover;
    }
  }

  figcaption {
    display:none;
  }
}

// Overwrite zeta when used in another region
.region-content .island--zeta,
.region-sidebar .island--zeta {
  .island__body {
    background-color:$gamma-ui-color;
  }
}

.island--theta {
  margin: 0;

  .island__top {
    display:none;
    background-size: cover;
    background-position: center;
    border-radius: $gamma-radius;

    img {
      border-radius: $gamma-radius;
    }
  }

  .island__bottom {
    @include padding-tb(.9, 1);
    @include px-padding-lr(2, 2);
    background-color: $beta-ui-color;
    border-radius: $gamma-radius;
  }

  h2,
  h3 {
    color: $white-color;
  }

  @include mq($bp-phone-m) {
    .island__top {
      display:block;
      float: right;
      width: 50%;
      height:100%;
    }

    .island__bottom {
      float: left;
      width: 50%;
    }
  }

  @include mq($bp-tablet-m) {
    .island__top {
      float: left;
      width: 100%;
      height:50%;
    }

    .island__bottom {
      float: left;
      width: 100%;
      height:50%;
    }
  }
}

.island--iota {
  @include padding-tb(1, 1);
  @include px-padding-lr(2, 2);
  margin: 0;

  background-color: $white-color;
  border-radius: $gamma-radius;
  background-repeat: no-repeat;

  h3 {
    @include padding-tb(0, .3);
    color: $beta-ui-color;
  }

  p,
  ul {
    font-size: 95%;
    line-height: 1.4em;
  }

  .btn {
    display:block;
    text-indent:-9999px;
    background-image:url(#{$base-theme-path}/img/png/icon-arrow-right.png);
    background-repeat: no-repeat;
    background-position: 50%;

    @include mq($bp-tablet-s) {
      text-indent:0;
      background-image:none;
    }
  }


  @include mq($bp-phone-m) {
    @include padding-tb(1.5, 1.5);
    background-image: url('#{$base-theme-path}/img/png/corner-top-middle.png'),
    url('#{$base-theme-path}/img/png/corner-bottom-middle.png'),
    url('#{$base-theme-path}/img/png/corner-left-middle.png'),
    url('#{$base-theme-path}/img/png/corner-right-middle.png');
    background-position: top center,
    bottom center,
    center left,
    center right;
  }

  @include mq($bp-tablet-m) {
    @include px-padding-lr(2.5, 2.5);
    @include padding-tb(1, 1);
    background-image: url('#{$base-theme-path}/img/png/corner-top-middle.png'),
    url('#{$base-theme-path}/img/png/corner-bottom-middle.png'),
    url('#{$base-theme-path}/img/png/corner-left-middle.png'),
    url('#{$base-theme-path}/img/png/corner-right-middle.png');
    background-position: top center,
    bottom center,
    center left,
    center right;

    .svg & {
      background-image: url('#{$base-theme-path}/img/svg/corner-top-middle.svg'),
      url('#{$base-theme-path}/img/svg/corner-bottom-middle.svg'),
      url('#{$base-theme-path}/img/svg/corner-left-middle.svg'),
      url('#{$base-theme-path}/img/svg/corner-right-middle.svg');
    }
  }
}

.island--kappa {

  border-top: 1px solid desaturate(darken($gamma-ui-color, 10), 20);
  border-bottom: 1px solid desaturate(darken($gamma-ui-color, 10), 20);

  @include padding-tb(1, 2);
  @include margin-tb(2, 0);

  h2, h3 {
    color: $beta-ui-color;

    margin:0;
    padding:0;

    @include margin-tb(0, .5);

    a {
      text-decoration:none;
    }
  }

  i {
    @include px-padding-lr(0, .5);
    color: $delta-ui-color;
  }
}

.island--lambda {
  background-color:$white-color;
  margin-bottom:0;
  padding:0;

  @include margin-tb(1, 0);
  @extend %rounded-1;
  @include text-dimensions(-4, 1);

  table {
    margin:0;
  }
  tr {
    border-bottom:1px solid $gamma-text-color;

    &:last-child {
      border-bottom:none;
    }
  }
  td {
    @include text-dimensions(-3, 1);
    @include px-padding-lr(1, 1);
    @include padding-tb(.5, .5);

    &.label {
      font-weight:bold;
    }
  }
}

.l-primary .island:first-child  {
  margin-top:0;
}


