//
// Lists.
//
.no-bullet-list {
  @include no-bullet-list;
}

.list {
  @include list;
}

.link-list {
  @include link-list;
}

li.link-list__more {
  @include link-list-more;
}

.readmore-list-wrapper {
  @include padding-tb(.6, 0);

  ul {
    @include link-list;

    li {
      @include link-list-more;
    }
  }
}

.list__divider {
  @include margin-top(1);
}

ul.no-padding li {
  @include reset-vertical-spacing;
  margin-bottom: 0;
}

ul.nowrap li {
  white-space: nowrap;
}

p + ul {
  margin-top: -1em;
}
