//
// Lists.
//
.no-bullet-list {
  @extend %no-bullet-list;
}

.list {
  @extend %list;
}

.link-list {
  @extend %link-list;
}

li.link-list__more {
  @extend %link-list__more;
}

.readmore-list-wrapper {
  @include padding-tb(.6, 0);
  
  ul {
    @extend %link-list;
    li {
      @extend %link-list__more;
    } 
  }
}


.list__divider {
  @include margin-top(1);
}

ul.no-padding li {
  @extend .hN; // sass-lint:disable-line placeholder-in-extend
  margin-bottom: 0;
}

ul.nowrap li {
  white-space: nowrap;
}

p + ul {
  margin-top: -1em;
}