.external-panel {
  background: $gamma-ui-color none;

  .form-title {
    display: none;
  }

  .ui-tabs-nav .fullscreen {
    display: none;
  }

  fieldset {
    border: none;

    legend {
      @include text-dimensions(1, 1, 1);
      padding-left: 0;
      color: $beta-ui-color;
      font-family: $beta-font-family;
    }

    .fieldset-wrapper {
      padding: 0;
    }
  }
}

.openlayers_map_fullscreen  {
  .external-panel  {
    .ui-tabs-nav .normal {
      display: none;
    }

    .ui-tabs-nav .fullscreen {
      display: block;
    }
  }
}

.layer-invisible-description {
  @include text-dimensions(-1, -1, 0, 0.5, 0.5, 1);
  @include rem-padding-lr(1, 1);
  background-color: $beta-text-color;
  color: $white-color;
  border-radius: $radius;
  display: inline-block;
}

// Layers grid.
//
//

.layerswitcher-plus .fieldset-wrapper {
  position: relative;
}

.layers {
  .line--vertical:after {
    dsplay: none;
  }
}

/* 2 columns */
@include mq($bp-desktop-s) {
  .layers {
    @include add-grid(12);

    .layer-wrapper {
      @include float-span(6);
      @include rem-padding-lr(1, 1);
    }

    .line--vertical:after {
      display: block;
    }
  }
}

/* fullscreen overrides the x-columns layout and goes back to mobile */
.openlayers_map_fullscreen {
  .layers {
    display: block;

    .layer-wrapper {
      clear: none;
      float: none;
      width: auto;
      padding-left: 0;
      padding-right: 0;
    }

    .line--vertical:after {
      display: none;
    }
  }
}

/* FIX: default collapse "extra layer" fieldset, fieldset js doesn't get initialised right away */
.extra-layer-switcher {
  .fieldset-wrapper {
    display: none;
  }
}

// Layers.
//
//
.layer-wrapper {
  color: $beta-ui-color;

  label {
    color: $beta-ui-color;
  }

  .icon-invisible:before {
    @include rem-padding-lr(0.25, 0.25);
    display: none;
    background-color: $beta-text-color;
    color: $white-color;
  }

  &.disabled {
    label {
      color: $gamma-text-color;
    }

    .icon-invisible:before {
      display: inline-block;
    }
  }

  .info-left {
    float: left;
  }

  .single-legend {
    float: right;
  }

  .multi-legend .map-layer-items {
    @extend %no-bullet-list;
    padding: 0;
    margin: 0;

    li {
      display: inline;
    }

    img {
      vertical-align: middle;
    }
  }
}

// Search OL behavior.
//
//
.openlayers-container .search-address .form-item-address label {
  top: 10px;
}

// Baselayers.
.openlayers_behavior_baselayerswitcher_plus {
  right: 0;
  bottom: 0;
}

// Fullscreen.
//
//
.openlayers_map_fullscreen {
  .external-panel {
    overflow: auto;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 0% !important;
    height: 100% !important;
    display:none;

    @include mq($bp-phone-m) {
      width: 40% !important;
      display:block;
    }

    @include mq($bp-tablet-s) {
      width: 30% !important;
      display:block;
    }

    @include mq($bp-tablet-m) {
      width: 25% !important;
      display:block;
    }
  }

  .openlayers-map {
    width: 100% !important;
    left: 0%;

    @include mq($bp-phone-m) {
      width: 60% !important;
      left: 40%;
    }

    @include mq($bp-tablet-s) {
      width: 70% !important;
      left: 30%;
    }

    @include mq($bp-tablet-m) {
      width: 75% !important;
      left: 25%;
    }
  }
}
