/**
 * olControl: MapLegend.
 */
body .olControlMapLegend {
  .category {
    position: relative;
    border-color: $color-border-ui;

    .categoryLabel {
      @include font-size(-2);
      padding-right: 30px;
    }

    .categoryCount {
      @include font-size(-2);
      border-radius: $radius;
      background-color: $succes-progress;
      color: $white-color;
      font-weight: normal;
      padding: 0 8px;
    }

    &.collapsible {
      .categoryCount:after {
        @extend .icon-base-css;
        @extend .icon-arrow-down:before;
        position: absolute;
        top: 10px;
        right: 0;
        width: 16px;
        height: 16px;
        color: $alpha-text-color;
      }

      .categoryLabel:hover {
        background-color: $gamma-ui-color-dark;
      }
    }

    &.collapsible.collapsed {
      .categoryCount:after {
        @extend .icon-caret:before;
      }
    }
  }

  .datalayer .layerLabel {
    @include font-size(-2);
  }
}
