//
// Map related styling.
//
// We're overriding OL CSS, skip some validation.
// sass-lint:disable class-name-format

// Styling for the OpenLayers control Maplegend.
body .olControlMapLegend {

  .title {
    @include font-size(-1);
    font-weight: bold;
    margin-bottom: 20px;

    &::before {
      @include icon-base-css;
      @include icon-checklist-before; // sass-lint:disable-line placeholder-in-extend
      margin-right: 10px;
    }
  }

  .category {
    position: relative;
    border-color: $color-border-ui;

    .categoryLabel {
      @include font-size(-2);
      padding-right: 30px;
    }

    .categoryCount {
      @include font-size(-2);
      background-color: $succes-progress;
      color: $white-color;
      font-weight: normal;
      padding: 0 8px;
    }

    &.collapsible {
      .categoryCount::after {
        @include icon-arrow-down-before; // sass-lint:disable-line placeholder-in-extend
        @include icon-base-css;

        position: absolute;
        top: 10px;
        right: 0;
        width: 16px;
        height: 16px;
        color: $alpha-text-color;
      }

      .categoryLabel:hover {
        background-color: $gamma-ui-color-dark;
      }
    }

    &.collapsible.collapsed {
      .categoryCount::after {
        @include icon-caret-before; // sass-lint:disable-line placeholder-in-extend
      }
    }
  }

  .datalayer .layerLabel,
  .legendItem .label {
    @include font-size(-2);
  }
}

//
// SmartPanel: panel_left.
//
.smartPanel.panel_left {
  z-index: 9999 !important; // sass-lint:disable-line no-important
  width: 100%;

  @include mq($bp-tablet-s) {
    width: 50%;
  }

  @include mq($bp-tablet-m) {
    width: 310px;
  }

  &.collapsible.collapsed {
    width: auto;
  }

  // Put minimize button inside the panel when the panel is 100% width.
  .olCollapseHandleRight.olMinimizeDiv {
    right: 0;

    @include mq($bp-tablet-s) {
      right: -25px;
    }
  }
}
