.nav {
  @extend %clearfix;
  @include horizontal-nav;
  margin: 0;
  padding: 0;
}

.search-icon-block {
  z-index: 9999;
  float: right;
  @include mq($bp-tablet-s){
  left: 21px;
  }
  margin-top: -3px;
  @include mq($bp-tablet-m){
  margin-top: -42px;
  }
  display: inline-block;
  width: 42px;
  height: 42px;
  @include mq($bp-tablet-s){
    display: none;
  }
  .icon-search {
    &:before {
      display: inline-block;
      width: 42px;
      height: 42px;
      color: $delta-ui-color;
      line-height: 43px;
      text-align: center;
      font-size: 22px;
    }
  }
}

.nav--login {
  @include text-dimensions(-3, 1, 0, .35, .35);

  li {
    float: right;
  }

  a {
    @include px-padding-lr(1, 1);
    font-weight: $beta-font-weight;
    color: $delta-ui-color;
    text-decoration: none;

    &:visited {
      color: $delta-ui-color;
    }

    &:hover,
    &:focus {
      color: lighten($delta-ui-color, 10);
    }
  }
}

.nav--breadcrumb {
  @include text-dimensions(-2, 1, 0, .25, .25);

  a {
    @extend .btn;
    @extend .btn--gamma;
    @extend .btn--small;
    @include padding-tb(.1, .2);
  }

  li {
    @include padding-tb(.1, .1);
    @include px-margin-lr(0, 1.5);
    position: relative;

    &:after {
      content: "";
      width: 16px;
      height: 16px;
      background-image: url('#{$base-theme-path}/img/png/carret.png');
      position: absolute;
      top: .7em;
      right: -16px;

      .svg & {
        background-image: url('#{$base-theme-path}/img/svg/carret.svg');
      }
    }

    &:last-child:after {
      display: none;
    }

    > span {
      @include text-dimensions(-2, 1, 0, .1, .2);
      @include px-padding-lr(.8, 0);
      border-radius: $alpha-radius;
      position: relative;
      display: block;
      width: 100%;
      text-align: center;
      overflow: hidden;
      font-family: $alpha-font-family;
      font-weight: $beta-font-weight;
      text-decoration: none;
      border: 1px solid transparent;
    }
  }

  @include mq($bp-tablet-s) {
    li {
      @include px-margin-lr(0, 2);

      &:after {
        right: -18px;
      }
    }
  }
}
