//
// Navigation.
//
.nav {
  @include clearfix;
  @include horizontal-nav;
  margin: 0;
  padding: 0;
}

.search-icon-block {
  z-index: 9999;
  float: right;
  display: inline-block;
  width: 42px;
  height: 42px;
  margin-top: -3px;

  @include mq($bp-tablet-s) {
    left: 21px;
    display: none;
  }

  @include mq($bp-tablet-m) {
    margin-top: -42px;
  }

  .icon-search {
    &::before {
      display: inline-block;
      width: 42px;
      height: 42px;
      color: $delta-ui-color;
      line-height: 43px;
      text-align: center;
      font-size: 22px;
    }
  }
}

.nav--login {
  @include text-dimensions(-3, 1, 0, .35, .35);

  li {
    float: right;
  }

  a {
    @include px-padding-lr(1, 1);
    font-weight: $beta-font-weight;
    color: $delta-ui-color;
    text-decoration: none;

    &:visited {
      color: $delta-ui-color;
    }

    &:hover,
    &:focus {
      color: lighten($delta-ui-color, 10);
    }
  }
}

.nav--breadcrumb {
  @include padding-tb(.4, .4);

  li {
    @include px-margin-lr(0, 1.5);
    position: relative;

    &::after {
      content: '';
      width: 16px;
      height: 16px;
      background-image: url('#{$base-theme-path}/img/png/carret.png');
      position: absolute;
      top: .45em;
      right: -16px;

      .svg & {
        background-image: url('#{$base-theme-path}/img/svg/carret.svg');
      }
    }

    &:last-child::after {
      display: none;
    }

    a {
      @include btn;
      @include btn--gamma;
      // Can't use btn-s when te span element differs in font-size.
      @include text-dimensions(-4, 1, 0, .1, .1);
      @include em-padding-lr(.5, .5);

      &:hover {
        border: 1px solid transparent;
      }

      &.btn--gamma {
        transition-property: background, color;
        border: 1px solid transparent;

        &:hover {
          border: 1px solid transparent;
        }
      }
    }

    > span {
      @include text-dimensions(-4, 1, 0, .15, .1);
      @include px-padding-lr(.8, 0);
      position: relative;
      display: block;
      width: 100%;
      overflow: hidden;
      font-family: $alpha-font-family;
      font-weight: $beta-font-weight;
      text-decoration: none;
      color: $beta-ui-color;

    }
  }

  @include mq($bp-tablet-s) {
    li {
      @include px-margin-lr(0, 2);

      &::after {
        right: -18px;
      }
    }
  }

  // If readspeaker is enabled, we add 50px padding so it doesn't overlap
  // with our breadcrumb navigation. Starting from tablet.
  @at-root body.readspeaker--enabled & {
    @include mq($bp-tablet-s) {
      padding-right: 50px;
    }
  }
}
