.newsletter-teaser {
  .header {
    @include add-grid(12);

    .title {
      @include grid-span(8, 1);
    }

    .subscribe {
      @include grid-span(4, 9);
      margin-top: 2px;
      text-align: right;

      input {
        background-color: transparent;
      }
    }
  }

  .messages {
    margin: 0.5em 0;
  }
}

#gent-newsletter-og-multiple-subscription-form {
  .is-invalid {
    color: $error-color;
  }

  @include mq($bp-tablet-s) {
    .form-item-email {
      @include grid-span(6, 1);
    }

    .is-valid {
      @include grid-span(6, 7);
      @include input-m;
    }

    .is-invalid {
      @include grid-span(6, 7);
      @include input-m;
    }
  }
}
