.newsletter-teaser {
  .header {
    @include add-grid(12);

    .title {
      @include grid-span(8, 1);
    }

    .subscribe {
      @include grid-span(4, 9);
      margin-top: 2px;
      text-align: right;
    }
  }

  .messages {
    margin: 0.5em 0;
  }
}
