.gent-newsletters {
  clear: left;
}

.newsletter-teaser {
  .header {
    @include add-grid(12);

    .title {
      @include grid-span(8, 1);
    }

    .subscribe {
      @include grid-span(4, 9);
      margin-top: 2px;
      text-align: right;

      input {
        background-color: transparent;
      }
    }
  }

  .messages {
    margin: 0.5em 0;
  }
}

#gent-newsletter-og-multiple-subscription-form {
  .is-invalid {
    color: $error-color;
  }

  @include mq($bp-tablet-s) {
    .form-item-email {
      @include grid-span(6, 1);
    }

    .is-valid {
      @include grid-span(6, 7);
      @include input-m;
    }

    .is-invalid {
      @include grid-span(6, 7);
      @include input-m;
    }
  }
}

.block-gent-newsletter {
  .island--iota {
    min-height:246px;
  }
}


.gent-newsletter__block-content__image {
  clear: right;
  width: 100%;

  // Add fixed min-height else image won't be shown or only a small part of it.
  .island__top {
    @include mq($bp-phone-m) {
      min-height: 120px;
    }
  }

  @include mq($bp-tablet-m) {
    float: left;
    width: 25%;
  }
}

.gent-newsletter__block-content__text {
  clear: right;
  width: 100%;

  @include mq($bp-tablet-m) {
    float: left;
    width: 50%;
  }
}
