// Pagination

.pager {

  a,
  span {
    padding: 0 10px;
    border: 1px solid $gamma-ui-color;
    margin-left: -1px;
  }

  li {
    margin-left: 6px;
  }

  li:first-child {
    a,
    span {
      margin-left: 0px;
    }
  }

  span {
    color: $beta-text-color;
  }

  @include pagination;
}

.pager--centered {

  a,
  span {
    padding: 0 10px;
    border: 1px solid $gamma-ui-color;
    margin-left: -1px;
  }

  li:first-child {
    a,
    span {
      margin-left: 0px;
    }
  }

  span {
    color: $beta-text-color;
  }

  @include pagination-centered;
}
