// Pagination

.pager {

  span {
    color: $beta-text-color;
  }
  
  a,
  span {
    @include px-padding-lr(1,1);
    @include padding-tb(.5, .5);
  
    border:1px solid $white-color;

    margin-left: -1px;
    text-decoration: none;
    @include text-dimensions(-2, 1);
    font-weight:bold;
    
    @extend %rounded-1;
    
    color: $alpha-link-color;
    background-color: transparent;
    
    &:hover {
      background-color: $gamma-ui-color;
    }
  
    &:focus,
    &:active {
      background-color: $gamma-ui-color;
    }
  }

  li {
    margin-left: 6px;
  }
  
  li.pager-current a, li.pager-current span {
    background-color: $delta-ui-color;
    border:1px solid $delta-ui-color;
    color:$white-color;
  }

  li:first-child {
    a,
    span {
      margin-left: 0px;
    }
  }



  @include pagination;
}

.pager--centered {

  a,
  span {
    padding: 0 10px;
    border: 1px solid $gamma-ui-color;
    margin-left: -1px;
  }

  li:first-child {
    a,
    span {
      margin-left: 0px;
    }
  }

  span {
    color: $beta-text-color;
  }

  @include pagination-centered;
}
