.progress {
  .bar {
    border: 1px solid $alpha-ui-color;
    border-radius: $alpha-radius;
    padding: 5px;
    .filled {
      background-color: $gamma-ui-color;
      height: 30px;
      width: 0px;
      border-radius: $alpha-radius;
    }
  }
}
.ajax-progress-bar {
   width: 16em;
 }
