//
// Progress bar styling.
//
.progress {
  .bar {
    border: 1px solid $alpha-ui-color;
    padding: 5px;

    .filled {
      background-color: $gamma-ui-color;
      height: 30px;
      width: 0;
    }
  }
}

.ajax-progress-bar {
  width: 16em;
}
