
.milli.rdf {
  float:left;
  padding-top: 0.25rem;
  padding-right: 1rem;
}

.rdf {
  .btn--zeta {
    text-decoration: none;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0em;
    padding-bottom: 0em;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 0;

    a {
      text-decoration: none;
      color: black;

      .icon-rdf {
        color: $alpha-ui-color;
        font-size: 80%;
      }
    }
  }
}
