//
// RDF
//
.milli.rdf {
  float: left;
  padding-top: 0.25rem;
  padding-right: 1rem;
}

.rdf {
  .btn--zeta {
    text-decoration: none;
    padding: 0;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 0;
    min-width: 60px;

    a {
      text-decoration: none;
      color: black;

      .icon-rdf {
        color: $alpha-ui-color;
        font-size: 0.8em;
      }
    }
  }
}
