.sheet {
  @extend %sheet;
}

.sheet-content {
  @extend %sheet-content;

  table {
    border-radius: 5px;
    background: #fff;
    font-size: 80%;

    tr {
      border: 1px solid #f3f2f2;
      border-width: 0 0 1px 0;
    }
    td {
      padding: .5em 1em;
    }
  }
}

.sheet {
  position: relative;
  background-color: hsl(hue($alpha-ui-color), 40, 97.5);
  border-radius: $radius;
  box-shadow: inset 0 -1px 1px 0 rgba(hsl(hue($alpha-ui-color), 40, 87.5), 1);

  .media-image {
    margin-bottom: 0;
    border-radius: $radius $radius 0 0;
  }

  p.event-date {
    @include text-dimensions(-1, 1, 0, 0);
    color: $gamma-text-color;
    margin: 0;
    text-align: left;
    top: auto;
  }

}

.sheet-content {
  @include rem-padding-lr(1, 1);
  @include padding-tb(1, 1);
}
