// share
$twitter-color: #33CCFF;
$facebook-color: #3B5998;
$linkedin-color: #4875B4;
$googleplus-color: #C63D2D;

.share-links {
  @extend %clearfix;
  @include padding-tb(0,1);
  @include margin-bottom(1);
}

.share-links__title {
  color: $alpha-text-color;
  display: block;
  float: left;
  @include rem-margin-lr(0,1);
  @include text-dimensions(-1,1,0,.15,.2);
}

.share-links__network {
  display:none;
  @include mq($bp-tablet-m) {
    display:inline-block;
  }
}

.share-links__btn {
  @extend %btn;
  
  float: left;
  width: auto;
  color: $white-color;
  background-color: $gamma-ui-color; // Default, needs to be customized
  @include rem-margin-lr(0,1);
  @include btn-s;

  &:after {
    display: none;
  }
  
  &:hover {
    color: $white-color;
  }
  
  &.fc {
    background-color: $facebook-color;
    &:hover,
    &:focus,
    &:active {
      background-color: darken($facebook-color,10);
    }
  }
  
  &.tw {
    background-color: $twitter-color;
    &:hover,
    &:focus,
    &:active {
      background-color: darken($twitter-color,10);
    }
  }
  
  &.li {
    background-color: $linkedin-color;
    &:hover,
    &:focus,
    &:active {
      background-color: darken($linkedin-color,10);
    }
  }
}

.gent-social-large {
  display: none;

  @include mq($bp-tablet-s) {
    display: block;
  }
}

.gent-social-small {
  display: block;

  @include mq($bp-tablet-s) {
    display: none;
  }
}
