.tabs--top {
  @extend %clearfix;

  position: fixed; 
  top: 29px;
  height:30px;
  width: 100%;
  overflow:hidden;
  background-color: $alpha-ui-color;
  z-index: 998; 
  
  li > a { 
    color: $white-color;
    @include text-dimensions(-2, 0);
    text-decoration:none;
  }
  
  li:first-child {
    @include px-padding-lr(4.7,0);
    border:0;
  }
  
  li {
    @include px-padding-lr(1.5,0);
    @include padding-tb(.2,.2);
    float:left;
  }
  
  ul {
    display:block;
    list-style: none;
  }
}

.is-tabs-enabled {
  margin-top:59px;
}