.tabs--top {
  @extend %clearfix;

  width: 100%;
  left: 0px;
  z-index: 998;
  background-color: $alpha-ui-color;

  li > a {
    color: $white-color;
    @include text-dimensions(-2, 0);
    text-decoration: none;
  }

  li:first-child {
    @include px-padding-lr(3.4, 0);
    border: 0;
  }

  li {
    @include px-padding-lr(1.5, 0);
    @include padding-tb(.4, .4);
    float: left;
  }

  ul {
    margin-bottom: 0em;
    display: block;
    list-style: none;
  }
}
