//
// Throbber.
//
.ajax-progress {
  display: inline-block;

  .throbber {
    margin: 2px 2px 2px 5px;
    width: 16px;
    height: 16px;
    float: left;
    background: transparent url('#{$base-theme-path}/img/gif/throbber-active.gif') no-repeat top left;
  }
  .message {
    padding-left: 10px;
  }
}
tr .ajax-progress .throbber {
  margin: 0px 2px;
}
