.top-menu {
  float: right;
  height: 40px;

  @include mqb($bp-tablet-s, $bp-tablet-m) {
    margin: 4px 0;
  }

  .top-menu__item {
    float: left;
    margin-left: 10px;
    padding: 0;

    @include mq($bp-tablet-s) {
      margin-left: 30px;
    }

    a {
      line-height: 40px;
      font-size: 14px;
      color: #fff;
      text-decoration: none;
    }
  }
}

#gent-auth-bar {
  margin-top: 2px;

  .name-wrapper, .picture-wrapper {
    float: left;
  }
  .name, .picture {
    height: 36px;
    color: $white-color;
    font-size: 14px;
    line-height: 36px;
    display: block;
    cursor: default;
  }
  .name {
    margin-right: 10px;
  }
  .login {
    a {
      padding: 0;
    }
    .name, .picture {
      float: left;
      cursor: pointer;
    }
  }
  .picture.has-profile img {
    width: 36px;
    height: 36px;
  }
  .picture.no-profile {
    padding: 8px 0;

    img {
      width: 20px;
      height: 20px;
    }
  }
  .popup-wrapper {
    .arrow.has-profile {
      margin: 5px 8px -2px auto;
    }
    .arrow.no-profile {
      margin: 0 0 -2px auto;
    }
    .popup {
      @include mq($bp-tablet-s) {
        margin-right: -10px;
      }

      .links {
        margin-top: 0;
        border-top: none;

        li.group.first {
          padding-top: 0;
        }
      }
      .footer {
        margin-top: -12px;
        border-radius: 5px;
        background: #FFFFFF;
      }
      .item-list + .footer {
        margin-top: 15px;
        border-radius: 0 0 5px 5px;
        background: #ECF5F7;
      }
    }
  }
}
