.top-holder {
  background-color: $alpha-text-color;

  @include mq($bp3) {
    @include background-opacity($alpha-text-color,.5);
  }
}

.top-nav {
  display: none;
  margin-bottom: 0;
  margin-top: 0;

  @include list-nav;
  @include horizontal-nav;

  @include mq($bp3) {
    float: right;
    display: block;

    a {
      color: lighten($beta-ui-color,10);
      font-weight: bold;
      text-decoration: none;

      @include rem-margin-lr(0,1);
      @include text-dimensions(-3,1.5,0,0,0,.5);

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
