//
// Views
//
.view {
  .pager {
    @include reset-list;
    margin-top: 1em;
  }
}

.view-grouping-header {
  h2 {
    @include h3;
  }
}

h2.grouped {
  color: $beta-ui-color;
}

.block-views {
  h2.grouped:first-of-type {
    margin-top: 0;
    padding-top: 0;
  }
}

.views-summary {
  a {
    @include rounded;
    @include px-padding-lr(.7, .7);
    @include padding-tb(.2, .2);
    text-decoration: none;
    font-weight: bold;

    &:hover,
    &:focus,
    &:active {
      background-color: $alpha-ui-color;
      color: $white-color;
    }
  }

  .active {
    background-color: $delta-ui-color;
    color: $white-color;
  }
}
