//
// Webform Styling.
//
// WARNING!
// This is HORRIBLE legacy code that has been cleaned to pass linting.
// The generated CSS is a monster. Someone should thrash this and rewrite
// from scratch.
//
// Only use when absolutely needed ...
//
// Don't bother fixing these
// sass-lint:disable no-vendor-prefixes
.webform-component-progressbar {
  @include margin-top(1);
  @include margin-bottom(-1);
  @include font-size(-1);
  display: inline-block;
  clear: both;
  @include mq($bp-tablet-m) {
    display: block;
  }

  .webform-component-progressbar-wrapper {
    height: 6px;
    background-color: $grey-progressbar;
    text-indent: -9999px;
    position: relative;

    @include mq($bp-tablet-m) {
      background-color: transparent;
    }
  }

  .webform-component-progressbar-fill {
    height: 6px;
    background-color: transparent;
  }

  .webform-component-progressbar-divider {
    position: absolute;
    top: 0;
    z-index: 10;
    height: 6px;
    border: 0;
  }

  .webform-component-progressbar-page {
    float: left;
    color: $alpha-text-color;
    text-overflow: ellipsis;
    position: relative;
    overflow: visible;

    @include mq($bp-tablet-m) {
      float: none;
      margin-top: 1em;
      overflow: hidden;
      width: 100% !important; // sass-lint:disable-line no-important

      &:first-child {
        margin-top: 0;
      }
    }

    &.current {
      color: $beta-text-color;
      font-weight: bold;

      a,
      span {
        text-decoration: none;
        color: $beta-text-color;
        font-weight: bold;
      }

      span {
        &:first-child {
          background-color: $white-color;
          border: 6px solid $alpha-ui-color;
          color: $white-color;
          text-indent: -9999px;

          @include mq($bp-tablet-m) {
            text-indent: 0;
            border: 0;
            background-color: transparent;
            color: $alpha-ui-color;

            &::before {
              background-color: $white-color;
              border: 6px solid $alpha-ui-color;
            }
          }
        }
      }

      .webform-component-progressbar-page-label {
        @include mq($bp-tablet-m) {
          color: $alpha-ui-color;
        }
      }
    }

    a,
    .webform-component-progressbar-page-label {
      display: inline-block;
      width: 45px;
      visibility: hidden;
      text-indent: -9999px;

      @include mq($bp-tablet-m) {
        float: left;
        width: 70%;
        text-align: left;
        visibility: visible;
        text-decoration: none;
        text-indent: 0;
      }
    }

    .webform-component-progressbar-page-number {
      display: block;
      width: 25px;
      height: 25px;
      border: 0;
      background-color: $grey-progressbar;
      top: -14px;
      margin-left: -14px;
      margin-top: 0;
      position: absolute;
      z-index: 1;
      text-align: center;

      @include mq($bp-tablet-m) {
        top: 0;
        position: relative;
        margin-left: 0;
        float: left;
        background-color: transparent;
        width: auto;
        padding-left: 45px;

        &::before {
          position: absolute;
          top: 0;
          left: 0;
          content: '';
          display: inline-block;
          width: 25px;
          height: 25px;
          background-color: $grey-progressbar;
          border-radius: 13px;
        }
      }
    }

    &.completed {
      .webform-component-progressbar-page-number {
        text-indent: -9999px;

        @include mq($bp-tablet-m) {
          text-indent: 0;
        }
      }

      a,
      span {
        color: $succes-progress;
        text-decoration: none;
      }

      span {
        &:first-child {
          background-color: $succes-progress;
          background-image: url('#{$base-theme-path}/img/png/finished.png');
          background-repeat: no-repeat;
          background-position: center center;

          @include mq($bp-tablet-m) {
            background-color: transparent;
            background-image: none;

            &::before {
              background-color: $succes-progress;
              background-image: url('#{$base-theme-path}/img/png/finished.png');
              background-repeat: no-repeat;
              background-position: center center;
            }
          }
        }
      }
    }

    &:last-child {
      background-color: $white-color;
      padding-top: 6px;
      margin-top: -6px;

      @include mq($bp-tablet-m) {
        margin-top: 1em;
        padding-top: 0;
        background-color: transparent;
      }

      .webform-component-progressbar-page-number {
        margin-top: 6px;

        @include mq($bp-tablet-m) {
          margin-top: 0;
        }
      }
    }
  }
}

.webform-datepicker,
.webform-container-inline {
  div.form-item {
    width: inherit;
    display: inline-block;
  }

  .chosen-container {
    width: inherit !important; // sass-lint:disable-line no-important
  }
}

.node-webform {
  .messages.error,
  .messages.error.file-upload-js-error,
  .messages-inline {
    @include font-size(-4);
    border: 1px solid $dark-red-errors;
    background-color: $red-errors;
    margin-top: 5px;
    color: $black-color;
    padding: 12px 10px;
  }

  .webform-component-file .input[type='file'] {
    margin-bottom: 1rem;
  }

  .messages.error.file-upload-js-error,
  .messages-inline {
    margin-top: -1rem !important; // sass-lint:disable-line no-important
    margin-bottom: 2rem;
  }

  .form-actions {
    padding-left: 0;
    margin-top: 0;
  }

  .form-file {
    @include text-dimensions(-1, 1, 0, 0, .25);
  }

  .webform-component-file .form-submit {
    margin-left: 0;

    @include mq($bp-tablet-s) {
      margin-left: 1em;
    }
  }

  div.with-suffix,
  div.with-prefix {
    .children {
      overflow: hidden;
      display: block;

      input {
        width: 100%;
      }
    }

    .field-suffix {
      float: right;
      display: block;
      padding-left: 8px;
    }

    .field-prefix {
      float: left;
      display: block;
      padding-right: 8px;
    }
  }

  form.webform-client-form {
    .form-item {
      input.error,
      textarea.error,
      select.error {
        border: 1px solid $dark-red-errors;
        color: $black-color;
      }
    }
  }

}

form.webform-client-form {
  @include clearfix;

  color: $alpha-text-color;

  // Reset pointer cursor on form labels.
  label,
  .label {
    cursor: default;
  }

  .description,
  .fieldset-description {
    @include text-dimensions(-1, .7, 0, .1);

    clear: both;
    color: $gamma-text-color;
    margin-bottom: 1.5rem;
  }

  .messages--webform--info {
    @include text-dimensions(-1, .7, 0, .1);

    color: $gamma-text-color;
    margin-bottom: 1.5rem;
  }

  fieldset {
    @include margin-tb(4, 1);

    position: relative;
    padding-top: 1em;
    padding-bottom: 2rem;
    border: 0;
    border-top: 1px solid lighten($gamma-text-color, 10);
    background-color: $grey-progressbar;

    legend {
      @include rem-padding-lr(.3, .3);
      @include padding-tb(.1, .1);
      position: absolute;
      top: -2.5em;
      font-weight: bold;
      padding-left: 0;
      margin-left: 0;
      width: auto;
      border: 0;
      background-color: transparent;

      a {
        text-decoration: none;
      }
    }

    .form-item {
      label {
        font-weight: normal;
      }
    }

    legend::before {
      font-family: 'gent-icons';
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
    }

    &.collapsible {
      legend::before {
        @include icon-arrow-down-before; // sass-lint:disable-line placeholder-in-extend

        margin-right: .5em;
      }

      .fieldset-wrapper {
        @include padding-tb(1, 1)
      }
    }

    &.collapsible.collapsed {
      background-color: hsl(hue($alpha-ui-color), 40, 95);
      border-right: 1px solid rgba($white-color, .1);
      box-shadow: inset 0 -1px 1px 0 rgba(hsl(hue($alpha-ui-color), 40, 87.5), 1);
      color: $alpha-ui-color;
      height: 2em;

      legend::before {
        @include icon-caret-before; // sass-lint:disable-line placeholder-in-extend
      }

      .fieldset-wrapper {
        display: none;
      }
    }

    .fieldset-wrapper {
      @include rem-padding-lr(2, 2);

      &:first-child {
        @include padding-tb(1, 0);
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .form-item
  .form-actions,
  .webform-progressbar {
    @include margin-top(2);
    @include margin-bottom(0);

    &:first-child {
      @include margin-top(0);
    }
  }

  .webform-progressbar {
    @include margin-bottom(2);
    min-height: 2rem;
  }

  .webform-component-file {
    @include margin-top(0);
    @include margin-bottom(1.5);
  }

  .webform-component-progressbar {
    @include margin-top(1);
    @include margin-bottom(-1);
    @include mq($bp-tablet-m) {
      @include margin-top(0);
    }
  }

  legend,
  label,
  .label {
    @include text-dimensions(-1, 1, 0, 0, .25);

    color: $beta-ui-color;
    display: block;
    width: 100%;
  }

  .label {
    cursor: auto;
    padding-bottom: 0;
  }

  // Input elements
  input[type='input'],
  input[type='text'],
  input[type='email'],
  input[type='password'],
  input[type='search'],
  input[type='tel'],
  input[type='url'],
  input[type='number'],
  input[type='date'],
  input[type='month'],
  input[type='week'],
  input[type='time'],
  input[type='datetime'],
  input[type='datetime-local'],
  input[name='field_country_code'],
  input[name='field_city_code'],
  input[name='field_phone_int'],
  select[multiple],
  textarea,
  .field-prefix,
  .field-suffix {
    @include border-box;
    @include input-m;

    display: block;
    -webkit-appearance: none;
    margin: 0;
    width: 100%;
    line-height: 1;
    color: $gamma-text-color;
    border: 1px solid $grey-progressbar;

    &:hover {
      border-color: lighten($gamma-text-color, 5);
    }

    &:focus {
      outline: none;
      color: $alpha-text-color;
      border-color: $gamma-text-color;
    }
  }

  .field-prefix,
  .field-suffix {
    width: auto;
    border: 0;
  }

  select {
    @include border-box;
    @include input-dimensions(-2, 1, 0, .45, .45, 0);
    @include px-padding-lr(1, 1);
    display: block;
    margin: 0;
    width: 100%;
    height: 2.6em;
    color: $beta-text-color;
    background-color: lighten($gamma-text-color, 32);
    border: 1px solid lighten($gamma-text-color, 10);

    &:hover {
      border-color: lighten($gamma-text-color, 5);
    }

    &:focus {
      outline: none;
      color: $alpha-text-color;
      border-color: $gamma-text-color;
    }

    &[multiple] {
      @include padding-tb(.5, .5);
      height: auto;
      padding-right: 0;
    }
  }

  textarea {
    display: block;
    resize: none;
    overflow: auto;
    height: auto;
  }

  .small.input-textarea {
    height: 5em;
  }

  .medium.input-textarea {
    height: 7.5em;
  }

  .large.input-textarea {
    height: 10em;
  }

  .xlarge.input-textarea {
    height: 20em;
  }

  .option-group {
    @include clearfix;
    @include list-nav;

    label {
      padding-bottom: 0;
      margin-bottom: 0;
    }

  }

  .input-option {
    padding: 0;
    margin: 0 .5em 0 0;
    position: relative;
    cursor: pointer;
    width: 13px;
    height: 13px;
    vertical-align: middle;
    top: -2px;
  }

  .label-option {
    cursor: pointer;
    vertical-align: middle;
  }

  // Placeholders
  ::-webkit-input-placeholder {
    @include padding-tb(.1, 0);
    color: $gamma-text-color;
  }

  :-moz-placeholder {
    color: $gamma-text-color;
  }

  ::-moz-placeholder {
    color: $gamma-text-color;
  }

  :-ms-input-placeholder {
    color: $gamma-text-color;
  }

  // Buttons
  .form-submit {
    @include btn;
    @include btn--alpha;
    @include btn-m;
    @include mq($bp-tablet-s) {
      @include btn-inlineblock;
    }
    width: auto;

    &.webform-next {
      float: left;
      width: auto;
    }

    &.webform-previous {
      margin-right: 1rem;
      float: left;
      width: auto;
    }
  }

  .form-actions {
    width: 100%;
    display: inline-block;
    margin-bottom: 1em;
    margin-left: 0;
    clear: left;
    padding-left: 0;
    margin-top: 0;

    @include mq($bp-tablet-m) {
      width: auto;
      margin-top: 1.6em;
      clear: none;
    }

    input.form-submit,
    button.form-submit {
      @include margin-tb(0, 1);

      &:last-child {
        margin-bottom: 0;
      }

      // Put buttons as inline blocks next to each other on larger screens.
      @include mq($bp-tablet-s) {
        @include rem-margin-lr(0, 1);

        margin-bottom: 0;
      }
    }
  }

  tr.odd .form-item,
  tr.even .form-item {
    margin-top: 0;
    margin-bottom: 0;
    white-space: nowrap;
  }

  .form-item .description,
  form .fieldset-description {
    @include font-size(-4);
  }

  form .fieldset-description {
    margin-bottom: .75rem;
  }

  label {
    display: block;
    font-weight: bold;
  }

  label.option {
    display: inline;
    font-weight: normal;
    margin-left: .4em;
  }

  .form-checkboxes .form-item,
  .form-radios .form-item {
    margin-top: .4em;
    margin-bottom: .4em;
  }

  .form-type-radio .description,
  .form-type-checkbox .description {
    margin-left: 2.4em;
  }

  input.form-checkbox,
  input.form-radio {
    vertical-align: middle;
    margin-bottom: 3px;
  }

  .marker,
  .form-required {
    color: $error-color;
  }

  .form-item input.error,
  .form-item textarea.error,
  .form-item select.error {
    border: 2px solid $error-color;
  }

  // Specific date theming.
  .container-inline-date {
    clear: both;
  }

  .container-inline-date .form-item {
    float: none;
    margin: 0;
    padding: 0;
  }

  .container-inline-date > .form-item {
    display: inline-block;
    margin-right: .5em;
    margin-bottom: 10px;
    vertical-align: top;
  }

  .container-inline-date .form-item .form-item {
    float: left;
  }

  .container-inline-date .form-item,
  .container-inline-date .form-item input {
    width: auto;
  }

  .container-inline-date .description {
    clear: both;
  }

  .container-inline-date .form-item input,
  .container-inline-date .form-item select,
  .container-inline-date .form-item option {
    margin-right: 5px;
  }

  .container-inline-date .date-spacer {
    margin-left: -5px;
  }

  .views-right-60 .container-inline-date div {
    margin: 0;
    padding: 0;
  }

  .container-inline-date .date-timezone .form-item {
    clear: both;
    float: none;
    width: auto;
  }

  .container-inline-date .date-padding {
    padding: 0;
  }

  .container-inline select {
    width: auto;
    display: inline;
  }

  .ui-datepicker .ui-datepicker-title select {
    // sass-lint:disable-block no-duplicate-properties
    font-size: .6 * $alpha-font-size * 1px;
    font-size: .6rem;
  }

  // Prefix and postfix
  .prefix--medium.prefix--medium {
    @include grid-span(7);

    @include mq($bp-tablet-s) {
      @include grid-span(8);
    }
  }

  .postfix--medium.postfix--medium {
    @include grid-span(5, 8);

    @include mq($bp-tablet-s) {
      @include grid-span(4, 9);
    }
  }

  .prefix--large.prefix--large {
    @include grid-span(9);

    @include mq($bp-tablet-s) {
      @include grid-span(10);
    }
  }

  .postfix--small.postfix--small {
    @include grid-span(3, 10);

    @include mq($bp-tablet-s) {
      @include grid-span(2, 11);
    }
  }

  .prefix--email.prefix--email {
    @include add-gutter(0);
    @include grid-span(9);

    @include mq($bp-tablet-s) {
      @include grid-span(8);
    }
  }

  .postfix--email-submit.postfix--email-submit {
    @include add-gutter(0);
    @include grid-span(3, 10);

    @include mq($bp-tablet-s) {
      @include grid-span(4, 9);
    }
  }

  // Specific webform theming.
  .webform-datepicker,
  .webform-container-inline {
    div.form-item {
      width: inherit;
      display: inline-block;
    }

    .chosen-container {
      width: inherit !important; // sass-lint:disable-line no-important
    }
  }

  .form-optional {
    font-weight: normal;
    color: $beta-text-color;
    font-size: 14px;
  }

  .form-file {
    @include text-dimensions(-1, 1, 0, 0, .25);
  }

  .webform-component-file .form-submit {
    margin-left: 0;

    @include mq($bp-tablet-s) {
      margin-left: 1em;
    }
  }

  div.with-suffix,
  div.with-prefix {
    .children {
      overflow: hidden;
      display: block;

      input {
        width: 100%;
      }
    }

    .field-suffix {
      float: right;
      display: block;
      padding-left: 8px;
    }

    .field-prefix {
      float: left;
      display: block;
      padding-right: 8px;
    }
  }
}

.webform-left {
  text-align: center;
  margin-bottom: 1em;

  @include mq($bp-tablet-m) {
    margin-bottom: 0;
    width: 25%;
    float: left;
    min-height: 50px;
  }

  &.webform-empty {
    @include mq($bp-tablet-m) {
      width: 0;
      height: 0;
    }
  }
}

.webform-confirmation {
  @include mq($bp-tablet-m) {
    width: 41.66667%;
    margin-left: 25%;
  }
}

.webform-right {
  .webform-component {
    position: relative;

    .description {
      min-height: 40px;
      margin-top: 1em;
      margin-bottom: 1em;
      position: relative;
      background-color: $light-grey;
      padding: 10px 10px 10px 50px;
      color: $dark-grey;

      &::before {
        content: '';
        width: 30px;
        height: 30px;
        background-image: url('#{$base-theme-path}/img/png/info.png');
        background-position: center center;
        background-repeat: no-repeat;
        position: absolute;
        top: 5px;
        left: 10px;
      }
    }
  }

  @include mq($bp-tablet-m) {
    width: 41.66667%;
    float: left;

    .webform-component {
      position: relative;

      .description {
        margin-top: 0;
        margin-bottom: 0;
        position: absolute;
        top: 33px;
        left: 100%;
        margin-left: 4.4%;
      }
    }

    .fieldset-wrapper {
      position: relative;

      .description {
        left: 111%;
      }
    }
  }

  .webform-confirmation {
    width: 100%;
    margin-left: 0;

    @include mq($bp-tablet-m) {
      width: 100%;
      margin-left: 0;
    }
  }
}

body.node-type-webform {
  .l-primary {
    width: 100%;
  }
}

.sticky-wrapper.is-sticky {
  z-index: 1 !important; // sass-lint:disable-line no-important
}
