// Phone small
//
// Use $bp-phone-s for this breakpoint. Default breaks at 320px;
//
// Styleguide 1.4.1
$bp-phone-s: 320/16 * 1em; // Not used...

// Phone medium
//
// Use $bp-phone-m for this breakpoint. Default breaks at 480px;
//
// Styleguide 1.4.2
$bp-phone-m: 480/16 * 1em;

// Tablet small
//
// Use $bp-tablet-s for this breakpoint. Default breaks at 640px;
//
// Styleguide 1.4.3
$bp-tablet-s: 640/16 * 1em;

// Tablet medium
//
// Use $bp-tablet-m for this breakpoint. Default breaks at 960px;
//
// Styleguide 1.4.4
$bp-tablet-m: 960/16 * 1em;

// Tablet large
//
// Use $bp-tablet-l for this breakpoint. Default breaks at 1120px;
//
// Styleguide 1.4.5
$bp-tablet-l: 1120/16 * 1em;

// Desktop small
//
// Use $bp-desktop-s for this breakpoint. Default breaks at 1340px;
//
// Styleguide 1.4.6
$bp-desktop-s: 1340/16 * 1em;

// Desktop medium
//
// Use $bp-desktop-m for this breakpoint. Default breaks at 1480px;
//
// Styleguide 1.4.7
$bp-desktop-m: 1480/16 * 1em;

// Container breakpoint
//
//$bp-container: 1600/16 * 1em; // TODO why is em format not correct?
$bp-container: 1600px;
