$saturation: 5 !default;
$lightness: 5 !default;
$darkness: 5 !default;

// Colors

$alpha-ui-color: #007db3;  // Blue
$beta-ui-color: #2c3f48;  // Dark blue
$gamma-ui-color: #ecf5f7;  // Blue tint
$gamma-ui-color-dark: #c8e2e8; // Blue tint dark
$delta-ui-color: #f39200;  // Orange

$body-bg-color: #f4f4f4; // White-ish

$light-grey: #f2f2f2; // Light Grey
$dark-grey: #666666; // DAr Grey;
$alpha-text-color: #595f60;  // Grey
$beta-text-color: #6c7678;  // Lighter grey
$gamma-text-color: #9da8af;  // Lightest grey
$grey-progressbar: #e7e7e7; // Grey progressbar
$delta-text-color: #f39200;  // Orange

$error-color: #d62300;  // Red
$success-color: #93d600;  // Green
$succes-progress: #4ca22f; // Green progress
$notice-color: #f39200;  // Orange

$disabled-ui-color: #f5f5f1;
$disabled-color: #c0c0bb;

$white-color: #ffffff;
$dark-color: darken(#595f60, 20);

$color-border-ui: #dde2e5; // Grey

// Links

$alpha-link-color: $alpha-ui-color;
$alpha-link-colorhover: darken($alpha-ui-color, 10);
$alpha-link-colorfocus: darken($alpha-ui-color, 10);
$alpha-link-coloractive: $alpha-ui-color;
$alpha-link-colorvisited: $alpha-ui-color;


//Inline errors
$dark-red-errors: #a31b00;
$red-errors: #ff8770;
