$grid-gutter: 35;
$grid-column: 70;
$grid-columns: 12;

$grid-margin: $grid-gutter / 2;
$grid-width: ($grid-gutter + $grid-column) * $grid-columns;

$fluid-grid-column: $grid-column / $grid-width * 100 ;
$fluid-grid-gutter: ($grid-gutter / $grid-width) * 100 ;
$fluid-grid-margin: ($grid-margin / $grid-width) * 100 ;

$generate-x-small: true;
$generate-small: true;
$generate-medium: true;
$generate-large: true;
$generate-x-large: true;
