$radius: 10px;
$radius-1: 5px;
$radius-2: 20px;
$radius-3: 30px;

$border: 1px;

$depth: 0%; // Range: 0-100%
$contrast: 91%; // Range: 0-100%
$shadow: 21%; // Range: 0-100%
$highlight: 0%; // Range: 0-100%
