.container {
  @media (min-width: $bp-container) {
    width: $bp-container;
    margin: 0 auto;
    border-left: $border-outside-container; //smaller width
    border-right: $border-outside-container; //smaller width
  }
}

.content-container {
  max-width: $bp-max-content;
  margin: 0 auto;
  padding: 0 $gutter-width + ($gutter-width / 2); // gutter + padding cols

  @media (min-width: $bp-max-content + $gutter-width) {
    padding: 0 ($gutter-width / 2);
  }
}

.row {
  @include make-row();
}

// Columns
//
// Common styles grid columns

@include make-grid-columns;
@include make-grid('mobile');

@media (min-width: $bp-tablet) {
  @include make-grid('tablet');
}

@media (min-width: $bp-desktop) {
  @include make-grid('desktop');
}