.detail-layout {
  @include desktop {
  > .paragraph--type--map {
      @include set-layout('width-10', 'offset-1');
  }

  > .paragraph--type--image {
      @include set-layout();

      >.image-gallery--wrapper {
        @include set-layout('width-7', 'offset-2');

        &.multiple {
          @include set-layout('width-10', 'offset-1');
        }
      }
    }

    > .paragraph--type--block {
      @include set-layout();

      > .help-block {
        @include set-layout('width-9', 'offset-1');

        > * {
          @include set-layout('width-7', 'offset-1', 'columns-9');
        }
      }
    }
  }

  // @TODO: remove this when the styleguide version is upgraded.
  > .programme-wrapper {
    @include full-width;
    @include breakpoint($bp-container) {
      margin-left: -$bp-container / 2;
    }

    max-width: $bp-container;
  }
  
  > .quote-wrapper {
    > .quote {
      width: 100%;
      margin-left: 0;

      > blockquote {
        @include set-layout('width-9', 'offset-1');
      }
    }
  }
}
