.overview-layout {
  > div:not(.content-header-container):not(.block-system-main-block),
  > section,
  > aside,
  > article {
    margin-top: 60px;
    margin-bottom: 60px;

    @include desktop {
      margin-top: 120px;
      margin-bottom: 120px;
    }
  }

  .block-system-main-block {
    margin-top: 0;
  }

  > .uig,
  > .block-dg-newsletter {
    margin-top: 50px;

    @include desktop {
      @include col(10);
      @include col-offset(1);
    }
  }

  > .partner-block {
    @include desktop {
      @include col(10);
      @include col-offset(1);
    }
  }

  > .open-readspeaker-ui,
  > .block-open-readspeaker {
    margin-top: 0;
  }
}
