//
// Base
// ---
// Default markup for the most common HTML elements, based on the settings file.
//

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  @include border-box;
  font: $default-font-weight $default-font-size/#{$default-line-height} $default-font-family;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  background: $bg-outside-container;

  @media (min-width: $bp-tablet-fonts) {
    font-size: $default-font-size + 2;
  }

  @media (min-width: $bp-desktop-fonts) {
    font-size: $default-font-size + 4;
  }
}

body {
  position: relative;
  color: $default-text-color;
}

::-moz-selection {
  background-color: $default-text-color;
  color: lighten($default-text-color, 65%);
  text-shadow: none;
}

::selection {
  background-color: $default-text-color;
  color: lighten($default-text-color, 65%);
  text-shadow: none;
}

p,
ol,
ul,
dl,
table,
address,
pre {
  font-size: 1rem;
  line-height: 1.4em;
}

hr {
  border: 1px solid lighten($default-text-color, 60);
  border-width: 1px 0 0;
  clear: both;
  margin: 0 0 $default-line-height * 1em;
}

//
// Fix a > img problem
//

img {
  vertical-align: top;
  border: 0;
}

/**
 * Inline items.
 */
.container-inline div,
.container-inline label {
  display: inline;
}
/* Fieldset contents always need to be rendered as block. */
.container-inline .fieldset-wrapper {
  display: block;
}

/**
 * Prevent text wrapping.
 */
.nowrap {
  white-space: nowrap;
}

.small {
  font-size: .8rem;
  line-height: 1.5em;
}