{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 */
#}
{% if breadcrumb %}
  <nav class="breadcrumb section--default" role="navigation" aria-labelledby="system-breadcrumb">
    <div class="content-container">
      <h2 id="system-breadcrumb" class="visually-hidden">{{ 'Breadcrumb'|t }}</h2>
      <ol class="breadcrumb no-style">
        {% for item in breadcrumb %}
          <li>
            {% if item.url %}
              <a href="{{ item.url }}">{{ item.text }}</a>
            {% else %}
              <span>{{ item.text }}</span>
            {% endif %}
          </li>
        {% endfor %}
      </ol>
    </div>
  </nav>
{% endif %}
