.site-logo {
  text-decoration: none;
  img {
    height: 2rem;
  }
}

.site-name {
  display: inline-table;
  height: 2rem;
  .vertical-align {
    display: table-cell;
    vertical-align: middle;
    p {
      font-weight: bold;
      font-size: .8rem;
      margin-left: .5rem;
    }
  }
}