.leaflet-container.leaflet-touch {
  .leaflet-control-layers,
  .leaflet-bar {
    border: 0;

    a {
      @include box-shadow(0, 3px, 14px, color('gray',-3));

      width: 40px;
      height: 40px;
      line-height: 40px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  .leaflet-control-fullscreen {
    a {
      @include theme('background-color', 'color-none', 'leaflet-map-open-fullscreen-icon-background-color');

      background-image: url('#{$styleguide-dir}/img/svg/fullscreen-enter.svg');
      background-position: 8px 8px;
      background-repeat: no-repeat;
      background-size: 25px 25px;
    }
  }

  &.leaflet-fullscreen-on {
    .leaflet-control-fullscreen {
      a {
        @include theme('background-color', 'color-none', 'leaflet-map-close-fullscreen-icon-background-color');

        background-image: url('#{$styleguide-dir}/img/svg/fullscreen-exit.svg');
        background-position: 8px 8px;
        background-repeat: no-repeat;
        background-size: 25px 25px;
      }
    }
  }

  .leaflet-control-locate {
    a {
      .leaflet-control-locate-location-arrow {
        @include theme('background-color', 'color-none', 'leaflet-map-location-icon-background-color');

        background-image: url('#{$styleguide-dir}/img/svg/target.svg');
        background-position: 8px 8px;
        background-repeat: no-repeat;
        background-size: 25px 25px;
        width: 40px;
        height: 40px;
        margin: 0;
      }
    }
  }

  .leaflet-control-layers {
    a {
      @include theme('background-color', 'color-none', 'leaflet-map-layers-icon-background-color');

      background-image: url('#{$styleguide-dir}/img/svg/layers.svg');
      background-position: 8px 8px;
      background-repeat: no-repeat;
      border: 0;
      background-size: 25px 25px;
    }
  }

  .leaflet-control-zoom {
    a {
      @include box-shadow(0, 3px, 14px, color('gray',-3));

      span {
        @include theme('color', 'color-zero', 'leaflet-map-zoom-icon-color');

        font-size: 1.5rem;
      }

      &.leaflet-control-zoom-in {
        border: 0;
        margin-bottom: 10px;
        border-radius: 0;
      }

      &.leaflet-control-zoom-out {
        border: 0;
        border-radius: 0;
      }

      &:hover, &:focus {
        @include theme('background-color', 'color-none', 'leaflet-map-button-hover-background-color');

        background-image: none;
        background-size: unset;
        outline: none;
      }
    }
  }

  .leaflet-popup-close-button {
    span {
      @include theme('color', 'color-zero', 'leaflet-map-popup-close-button-color');

      font-size: 1.5rem;
    }
  }

  .ui-autocomplete-input {
    @include theme('background-color', 'color-none', 'leaflet-map-search-box-background-color');
    @include theme('border-color', 'color-zero', 'leaflet-map-search-box-border-color');

    background-image: url('#{$styleguide-dir}/img/iconfont/search.svg');
    background-size: 25px 25px;
    color: rgb(25, 25, 25);
    border-radius: 3px;
    outline-style: none;
    height: 30px;
    transition: border-color .25s;
    border-style: solid;
    border-width: 1px;
  }

  .gent-leaflet-location-icon {
    @include theme('background-color', 'color-none', 'leaflet-map-location-icon-background-color');
    @include box-shadow(0, 3px, 14px, color('gray',-3));

    border-radius: 30px;
    padding: 5px;
  }

  .leaflet-popup-content-wrapper {
    border-radius: 0
  }

  a.leaflet-popup-close-button {
    top: 10px;
    right: 10px;
  }

  .marker-cluster {
    span {
      @include theme('color', 'color-none', 'leaflet-map-marker-cluster-text-color');

      font-size: 15px;
      font-weight: bold;
    }
  }

  .marker-cluster-small,
  .marker-cluster-medium,
  .marker-cluster-large {
    @include theme('background-color', 'color-primary-light', 'leaflet-map-markercluster-background-shadow');

    div {
      @include theme('background-color','color-primary', 'leaflet-map-markercluster-background-color');

    }
  }

}
