$color-white: color('white');
$color-gray: color('gray');
$color-light-gray: color('gray-light');

.leaflet-container.leaflet-touch {
  .leaflet-control-layers,
  .leaflet-bar {
    border: 0;

    a {
      width: 50px;
      height: 50px;
      line-height: 55px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      box-shadow: 0 8px 12px 0 rgba(0, 125, 179, .06);
    }
  }

  .leaflet-control-fullscreen {
    a {
      background: $color-white url('#{$styleguide-dir}/img/svg/fullscreen-enter.svg') no-repeat 10px 10px;
    }
  }

  &.leaflet-fullscreen-on {
    .leaflet-control-fullscreen {
      a {
        background: $color-white url('#{$styleguide-dir}/img/svg/fullscreen-exit.svg') no-repeat 10px 10px;
      }
    }
  }

  .leaflet-control-locate {
    a {
      .leaflet-control-locate-location-arrow {
        background: $color-white url('#{$styleguide-dir}/img/svg/target.svg') no-repeat 10px 10px;
        width: 50px;
        height: 50px;
        margin: 0;
      }
    }
  }

  .leaflet-control-layers {
    a {
      background: $color-white url('#{$styleguide-dir}/img/svg/layers.svg') no-repeat 10px 10px;
      border: 0;
    }
  }

  .leaflet-control-zoom {
    a {
      box-shadow: 0 8px 12px 0 rgba(0, 125, 179, .06);

      span {
        color: $color-gray;
        font-size: 2rem;
      }

      &.leaflet-control-zoom-in {
        border: 0;
        margin-bottom: 10px;
        border-radius: 0;
      }

      &.leaflet-control-zoom-out {
        border: 0;
        border-radius: 0;
      }
    }
  }

  .leaflet-popup-close-button {
    span {
      font-size: 1.5rem;
      color: $color-gray;
    }
  }

  .ui-autocomplete-input {
    color: rgb(25, 25, 25);
    border-radius: 3px;
    outline-style: none;
    transition: border-color .25s;
    border: 1px solid $color-light-gray;
    background-color: $color-white;
  }
}
