// ===
// DG Maps
// ===
$map-padding: .8rem;
$map-button-size: 2.2rem;
$map-button-background: color('white');
$map-text-color: color('gray');

%map-button {
  width: $map-button-size;
  height: $map-button-size;
  margin: 0 0 .4rem;
  border: 0;
  background: $map-button-background no-repeat center center;
  background-size: 24px 24px;
  color: $map-text-color;
  font-size: 0;
  box-shadow: 0 8px 12px 0 rgba(0, 125, 179, .06);
  cursor: pointer;
}

.map {
  &-container {
    position: relative;
    min-height: $map-button-size * 5;
    max-height: calc(100vh - 2rem);
    overflow: hidden;


    &.ol-full-screen-fallback {
      margin: 0;
    }

    .ol-full-screen-fallback & {
      max-height: 100vh;
    }

    .vesta & {
      height: 22rem;
    }

    &__map {
      width: 100%;
    }

    &__side-panel {
      position: absolute;
      top: 0;
      left: 0;
      width: 15rem;
      height: 100%;
      padding: 1.75rem 1.9rem;
      background: rgba(255, 255, 255, .8);
      overflow: hidden;
      z-index: 200;
    }

    .ol-control {
      padding: 0;

      &:hover {
        background: transparent;
      }

      &.ol-base-layer-switcher > button {
        background-image: url('#{$styleguide-dir}/img/svg/layers.svg');
      }

      &.ol-geolocation > button {
        background-image: url('#{$styleguide-dir}/img/svg/target.svg');
      }

      &.ol-full-screen > button {
        background-image: url('#{$styleguide-dir}/img/svg/fullscreen-enter.svg');

        &.ol-full-screen-true {
          background-image: url('#{$styleguide-dir}/img/svg/fullscreen-exit.svg');
        }
      }

      &.ol-zoom > button {
        &.ol-zoom-in {
          background-image: url('#{$styleguide-dir}/img/svg/plus.svg');
        }

        &.ol-zoom-out {
          background-image: url('#{$styleguide-dir}/img/svg/minus.svg');
        }
      }

      > button {
        @extend %map-button;
      }
    }

    .ol-data-layer-switcher {
      padding: .8rem;

      h2 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: .8rem;

        > button {
          width: auto;
          height: auto;
          min-height: 1em;
          background: transparent;
          color: inherit;
          font-size: 0;

          i {
            font-size: 1.2rem;
          }
        }
      }

      .category {
        margin-bottom: .5rem;
        border: 0;
        font-size: .7rem;

        &__label {
          padding: 0;
          background: transparent;
          color: inherit;
          text-transform: none;
        }

        &__count {
          display: none;
        }
      }

      details {
        ::-webkit-details-marker {
          display: none;
        }

        &[open] .category__label {
          @include icon(minus);
        }

        .category__label {
          @include icon(plus);

          display: block;
          cursor: pointer;

          &::before {
            margin-right: .4rem;
          }
        }
      }

      .layer {
        font-size: .7rem;

        label {
          display: block;
          padding-right: 0;
          padding-left: 1.4rem;
        }
      }

      .checkbox {
        margin: 0;
      }

      .legend {
        padding-left: 2rem;
      }
    }

    .ol-geocoder {
      width: 10rem;
      margin: 0;

      @include tablet {
        width: 15rem;
      }

      input {
        height: $map-button-size;
        background: $map-button-background;
      }
    }

    .ol-scale-line {
      background: transparent;
      z-index: 400;

      &-inner {
        position: relative;
        border-width: 0 0 2px;
        border-color: $map-text-color;
        color: $map-text-color;
        font-size: .6rem;
        line-height: 1rem;

        &::before,
        &::after {
          position: absolute;
          bottom: 0;
          width: 2px;
          height: 5px;
          background: $map-text-color;
          content: "";
        }

        &::before {
          left: 0;
        }

        &::after {
          right: 0;
        }
      }
    }

    .ol-base-layer-switcher {
      .layer {
        > label {
          width: $map-button-size;
          height: $map-button-size;
          background-size: auto $map-button-size;
          opacity: inherit;
        }

        &-osm > label {
          background-position: (-$map-button-size*4) 0;
        }

        &-agiv_grb > label { // scss-lint:disable
          background-position: (-$map-button-size*3) 0;
        }

        &-orthophoto > label {
          background-position: (-$map-button-size*2) 0;
        }

        &-citymap > label {
          background-position: (-$map-button-size) 0;
        }
      }
    }

    .gcd-txt-reset {
      display: none;
    }

    .gcd-txt-glass {
      display: block;
      position: absolute;
      top: 50%;
      right: .4rem;
      width: 1.2rem;
      height: 1.2rem;
      margin-top: -.6rem;
      background: svg-as-background('search', color('cyan'), 24, 24) no-repeat center center;
      z-index: 11;
    }

    .gcd-txt-result {
      > li {
        > a {
          display: flex;
          flex-wrap: wrap;
          padding: 0;
          line-height: $default-line-height;
          text-decoration: none;

          .gcd-road:first-child {
            flex-basis: 100%;
          }

          .gcd-city {
            font-size: 1em;

            &::before {
              content: ", ";
            }
          }

          > br {
            display: none;
          }

          &:hover,
          &:focus {
            background: transparent;
          }
        }
      }
    }

    // ===
    // Popup
    // ===
    .ol-popup {
      @include theme('box-shadow', 'color-tertiary--lighten-3', 'popup-shadow', '0 2px 12px 0');
      right: -2px;
      bottom: -2px;
      left: -2px;
      height: auto;
      padding: .8rem 1rem;
      border: 0;
      font-size: .8rem;
      filter: none;
      overflow-y: auto;

      @include breakpoint($bp-tablet+1) {
        width: 18rem;
        margin-bottom: $accolade-height;
        margin-left: -$accolade-width*.6;
        padding: 2rem 1rem;
        border-radius: border-radius('radius-1');

        &::before {
          position: absolute;
          left: $accolade-width*0.5;
          width: $accolade-width;
          height: $accolade-height;
          transform: rotate(180deg);
          background: transparent svg-as-background('accolade', color('white'), $accolade-width, $accolade-height) no-repeat top;
          background-size: 100%;
          content: '';
        }

        &::before,
        &::after {
          border: 0;
        }
      }


      &__closer {
        top: .4rem;
        right: .4rem;
        width: 1.6rem;
        height: 1.6rem;
        background: transparent svg-as-background('cross', color('gray'), 22.5, 22.5) no-repeat center;
        cursor: pointer;

        &::after {
          content: '';
        }
      }

      &__title:not(:empty) {
        @extend %h3;
        margin-bottom: 0;
      }
    }

    .ol-overlay-container {
      height: auto;
    }
  }

  &-region {
    z-index: 5;
    overflow: visible;

    &--left {
      // This should be applied only the exact viewport of 768px. Since the 3rd
      // party package uses max-width instead of min-width, it is not applied to
      // this viewport.
      @media (width: 768px) {
        width: 300px;
      }
    }

    &--right-top {
      top: $map-padding;
      right: $map-padding;
    }

    &--right-top-left {
      top: $map-padding;
      right: $map-padding;

      ~ .map-region--right-top {
        top: $map-button-size + ($map-padding * 2);
      }

      @include tablet {
        right: $map-button-size + ($map-padding * 2);

        ~ .map-region--right-top {
          top: $map-padding;
        }
      }
    }

    &--right-bottom {
      right: $map-padding;
      bottom: $map-padding;

      .ol-control button {
        margin-bottom: 0;
      }
    }

    &--right-bottom-left {
      bottom: $map-padding;
    }

    &--collapsible {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border: 0;

      background: color('white');
      z-index: 20;
      overflow-y: auto;
    }

    &-button {
      @extend %map-button;
      @include icon(hamburger);
      @include icon(chevron-down, after);

      display: flex;

      position: absolute;
      top: $map-padding;
      left: $map-padding;

      align-items: center;


      font-size: 0;
      z-index: 10;

      &::before {
        font-size: 1.2rem;
      }

      @include tablet {
        width: auto;
        padding: .4rem .8rem;
        font-size: .8rem;
        @include bold-text;

        &::before {
          font-size: 0;
        }

        &::after {
          margin-left: .4rem;
          font-size: 1rem;
        }
      }
    }
  }
}

.ol-list-features__list {
  margin-left: 0;
  list-style: none;

  @include tablet {
    columns: auto 3;
  }

  &__item {
    padding-left: 1.5rem;
    background: url("#{$styleguide-dir}/img/iconfont/marker.svg") no-repeat left top .3rem;
    background-size: 1rem 1rem;
    font-size: .8rem;

    &__title {
      display: inline;
      @include bold-text;

      &:not(:empty) + .ol-list-features__list__item__description:not(:empty)::before {
        padding: 0 1ch;
        content: "\2014";
      }
    }

    &__description {
      display: inline;
      font-weight: 400;
    }
  }
}
