//
// Base
// ---
// Default markup for the most common HTML elements, based on the settings file.
//
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  @include border-box;
  font: $alpha-font-weight $alpha-font-size / 16 * 100% / #{$alpha-line-height} $alpha-font-family;
  background-color: $body-bg-color;

  // Fix the -webkit-overflow-scrolling: touch; bug on iOS.
  // sass-lint:disable no-vendor-prefixes no-misspelled-properties
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%;
  // Adjusts the text size on a webpage on IE for Windows Phone.
  -ms-text-size-adjust: 100%;
  // sass-lint:enable no-vendor-prefixes no-misspelled-properties

  @include mq($bp-tablet-l) {
    font-size: $alpha-font-size / 16 * 112.5%;
  }
}

body {
  position: relative;
  color: $alpha-text-color;
  background-color: $body-bg-color;
}

// sass-lint:disable no-vendor-prefixes
::-moz-selection,
::selection {
  background-color: $alpha-text-color;
  color: lighten($alpha-text-color, 65%);
  text-shadow: none;
}
// sass-lint:enable no-vendor-prefixes

hr {
  border: 0 solid lighten($alpha-text-color, 60);
  border-top-width: 1px;
  clear: both;
  margin: 0 0 $alpha-line-height * 1em;
}

img {
  vertical-align: top; // Fix a > img problem.
  border: 0;
  max-width: 100%;
}

// Inline items.
.container-inline div,
.container-inline label {
  display: inline;
}

// Fieldset contents always need to be rendered as block.
.container-inline .fieldset-wrapper {
  display: block;
}

// Prevent text wrapping.
.nowrap {
  white-space: nowrap;
}

// For anything you want to hide on page load when JS is enabled, so
// that you can use the JS to control visibility and avoid flicker.
html.js .js-hide {
  display: none;
}
