@font-face {
  font-family: 'expresswayextrabold';
  src: url('#{$base-theme-path}/fonts/expressway_xb-webfont.eot');
  src: url('#{$base-theme-path}/fonts/expressway_xb-webfont.eot?#iefix') format('embedded-opentype'),
  url('#{$base-theme-path}/fonts/expressway_xb-webfont.woff2') format('woff2'),
  url('#{$base-theme-path}/fonts/expressway_xb-webfont.woff') format('woff'),
  url('#{$base-theme-path}/fonts/expressway_xb-webfont.ttf') format('truetype'),
  url('#{$base-theme-path}/fonts/expressway_xb-webfont.svg#expresswayextrabold') format('svg');
  font-weight: 700;
  font-style: normal;
}
