//
// Forms
// ---
// Default markup for the form elements, based on the settings file.
//

form {
  @include clearfix;

  .description,
  .fieldset-description {
    @include text-dimensions(-1, .7, 0, .1);

    clear: both;
    color: $gamma-text-color;
    margin-bottom: 1.5rem;
  }
}

fieldset {
  @include margin-tb(0, 1);

  border: 1px solid lighten($gamma-text-color, 10);
  background-color: hsl(hue($alpha-ui-color), 40, 95);

  legend {
    @include rem-padding-lr(.3, .3);
    @include padding-tb(.1, .1);

    font-weight: bold;
    margin-left: .5em;
    width: auto;
    background-color: $white-color;
    border: 1px solid lighten($gamma-text-color, 10);

    a {
      text-decoration: none;
    }
  }

  legend::before {
    font-family: 'gent-icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  }

  &.collapsible {
    legend::before {
      @include icon-arrow-down-before; // sass-lint:disable-line placeholder-in-extend
      margin-right: .5em;
    }

    .fieldset-wrapper {
      @include padding-tb(1, 1)
    }
  }

  &.collapsible.collapsed {
    background-color: hsl(hue($alpha-ui-color), 40, 95);
    border-right: 1px solid rgba($white-color, .1);
    box-shadow: inset 0 -1px 1px 0 rgba(hsl(hue($alpha-ui-color), 40, 87.5), 1);
    color: $alpha-ui-color;
    height: 2em;

    legend::before {
      @include icon-caret-before; // sass-lint:disable-line placeholder-in-extend
    }

    .fieldset-wrapper {
      display: none;
    }
  }

  .fieldset-wrapper {
    @include rem-padding-lr(2, 2);

    &:first-child {
      @include padding-tb(1, 0)
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.form-item,
.form-actions,
.webform-progressbar {
  @include margin-bottom(1.5);
}

.webform-progressbar {
  min-height: 2rem;
}

legend,
label,
.label {
  @include text-dimensions(-1, 1, 0, 0, .25);

  color: $beta-text-color;
  display: block;
  width: 100%;
}

html.js fieldset.collapsible legend,
label,
.label {
  cursor: pointer;
}

.label {
  cursor: auto;
  padding-bottom: 0;
}

// Input elements
input[type='input'],
input[type='text'],
input[type='email'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='url'],
input[type='number'],
input[type='date'],
input[type='month'],
input[type='week'],
input[type='time'],
input[type='datetime'],
input[type='datetime-local'],
input[name='field_country_code'],
input[name='field_city_code'],
input[name='field_phone_int'],
select[multiple],
textarea {
  @include border-box;
  @include input-m;

  display: block;
  margin: 0;
  width: 100%;
  line-height: 1;
  color: $gamma-text-color;
  border: 1px solid lighten($gamma-text-color, 10);
  border-radius: $alpha-radius;

  -webkit-appearance: none; // sass-lint:disable-line no-vendor-prefixes

  &:hover {
    border-color: lighten($gamma-text-color, 5);
  }

  &:focus {
    outline: none;
    color: $alpha-text-color;
    border-color: $gamma-text-color;
  }
}

textarea {
  height: auto;
  display: block;
  resize: none;
  overflow: auto;
}

select {
  @include border-box;
  @include input-dimensions(-2, 1, 0, .45, .45, 0);
  @include px-padding-lr(1, 1);

  display: block;
  margin: 0;
  width: 100%;
  height: 2.6em;
  color: $beta-text-color;
  background-color: lighten($gamma-text-color, 32);
  border: 1px solid lighten($gamma-text-color, 10);
  border-radius: $alpha-radius;

  &:hover {
    border-color: lighten($gamma-text-color, 5);
  }

  &:focus {
    outline: none;
    color: $alpha-text-color;
    border-color: $gamma-text-color;
  }

  &[multiple] {
    @include padding-tb(.5, .5);

    height: auto;
    padding-right: 0;
  }
}

.small.input-textarea {
  height: 5em;
}

.medium.input-textarea {
  height: 7.5em;
}

.large.input-textarea {
  height: 10em;
}

.xlarge.input-textarea {
  height: 20em;
}

.option-group {
  @include clearfix;
  @include list-nav;

  label {
    padding-bottom: 0;
    margin-bottom: 0;
  }
}

.input-option {
  padding: 0;
  margin: 0 .5em 0 0;
  cursor: pointer;
  width: 13px;
  height: 13px;
  vertical-align: middle;
  position: relative;
  top: -2px;
}

.label-option {
  cursor: pointer;
  vertical-align: middle;
}

// Placeholders.
// sass-lint:disable no-vendor-prefixes
::-webkit-input-placeholder {
  @include padding-tb(.1, 0);
  color: $gamma-text-color;
}

:-moz-placeholder {
  color: $gamma-text-color;
}

:-ms-input-placeholder {
  color: $gamma-text-color;
}
// sass-lint:enable no-vendor-prefixes


// Buttons.
.form-submit {
  @include btn;
  @include btn--alpha;
  @include btn-m;

  @include mq($bp-tablet-s) {
    @include btn-inlineblock;
  }
}

.form-actions {
  width: 100%;
  display: inline-block;
  margin-top: 0;
  margin-bottom: 1em;
  margin-left: 0;
  clear: left;

  @include mq($bp-tablet-m) {
    width: auto;
    margin-top: 1.6em;
    padding-left: 1em;
    clear: none;
  }

  input.form-submit,
  button.form-submit {
    @include margin-tb(0, 1);

    &:last-child {
      margin-bottom: 0;
    }

    // Put buttons as inline blocks next to each other on larger screens.
    @include mq($bp-tablet-s) {
      @include rem-margin-lr(0, 1);
      margin-bottom: 0;
    }
  }
}

.form-submit[src] {
  padding: 0;
  width: auto;
}

tr.odd .form-item,
tr.even .form-item {
  margin-top: 0;
  margin-bottom: 0;
  white-space: nowrap;
}

.form-item .description,
form .fieldset-description {
  font-size: .7em;
}

form .fieldset-description {
  margin-bottom: .75rem;
}

label {
  display: block;
  font-weight: bold;
}

label.option,
.label.option {
  display: inline;
  font-weight: normal;
}

.form-checkboxes .form-item,
.form-radios .form-item {
  margin-top: .4em;
  margin-bottom: .4em;
}

.form-type-radio .description,
.form-type-checkbox .description {
  margin-left: 2.4em;
}

input.form-checkbox,
input.form-radio {
  vertical-align: middle;
}

.marker,
.form-required {
  color: $error-color;
}

.form-item input.error,
.form-item textarea.error,
.form-item select.error {
  border: 2px solid $error-color;
}

// Specific date theming.
.container-inline-date {
  clear: both;
}

.container-inline-date .form-item {
  float: none;
  margin: 0;
  padding: 0;
}

.container-inline-date > .form-item {
  display: inline-block;
  margin-right: .5em;
  margin-bottom: 10px;
  vertical-align: top;
}

.container-inline-date .form-item .form-item {
  float: left;
}

.container-inline-date .form-item,
.container-inline-date .form-item input {
  width: auto;
}

.container-inline-date .description {
  clear: both;
}

.container-inline-date .form-item input,
.container-inline-date .form-item select,
.container-inline-date .form-item option {
  margin-right: 5px;
}

.container-inline-date .date-spacer {
  margin-left: -5px;
}

.views-right-60 .container-inline-date div {
  margin: 0;
  padding: 0;
}

.container-inline-date .date-timezone .form-item {
  clear: both;
  float: none;
  width: auto;
}

.container-inline-date .date-padding {
  padding: 0;
}

.container-inline select {
  width: auto;
  display: inline;
}

.ui-datepicker .ui-datepicker-title select {
  // sass-lint:disable-block no-duplicate-properties
  // @todo use the mixin.
  font-size: .6 * $alpha-font-size * 1px;
  font-size: .6rem;
}

// Prefix and postfix.
.prefix--medium.prefix--medium {
  @include grid-span(7);

  @include mq($bp-tablet-s) {
    @include grid-span(8);
  }
}

.postfix--medium.postfix--medium {
  @include grid-span(5, 8);

  @include mq($bp-tablet-s) {
    @include grid-span(4, 9);
  }
}

.prefix--large.prefix--large {
  @include grid-span(9);

  @include mq($bp-tablet-s) {
    @include grid-span(10);
  }
}

.postfix--small.postfix--small {
  @include grid-span(3, 10);

  @include mq($bp-tablet-s) {
    @include grid-span(2, 11);
  }
}

.prefix--email.prefix--email {
  @include add-gutter(0);
  @include grid-span(9);

  @include mq($bp-tablet-s) {
    @include grid-span(8);
  }
}

.postfix--email-submit.postfix--email-submit {
  @include add-gutter(0);
  @include grid-span(3, 10);

  @include mq($bp-tablet-s) {
    @include grid-span(4, 9);
  }
}
