/*
 | 	<div class="holder">
 |		<div class="row">
 |			<div class="col small-6 medium-4 xlarge-3">
 |				THIS DIV WILL DISPLAY:
 |				- 100% 		on mobile
 |				- 50% 		from $bp2
 |				- 33.3333% 	from $bp3
 |				- 25% 		from $bp5
 |			</div>
 |		</div>
 |	</div>
*/

@media (min-width: $bp4) {

  .contentWidth {
    max-width: 63.25em;
    margin: 0 auto;
  }

}

.threeColumns {
  $grids: 3;
  $gutters: 1em;
  @include clearfix;

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  li {
    @include grid-span(3,1);
    clear: both;
  }
}

@media #{$phone-m-up} {
  .threeColumns {
    $grids: 2;
    $gutters: 1em;
    @include clearfix;

    ul {
      padding: 0;
      margin: 0;
      list-style: none;
    }
    li:nth-child(2n+1) {
      @include grid-span(1,1);
      clear: both;
    }
    li:nth-child(2n+2) {
      @include grid-span(1,2);
    }
  }
}

@media #{$tablet-m-up} {
  .threeColumns {
    $grids: 3;
    $gutters: 1em;
    @include clearfix;

    ul {
      padding: 0;
      margin: 0;
      list-style: none;
    }
    li:nth-child(3n+1) {
      @include grid-span(1,1);
      clear: both;
    }
    li:nth-child(3n+2) {
      @include grid-span(1,2);
    }
    li:nth-child(3n+3) {
      @include grid-span(1,3);
    }
  }
}
