/*
 | 	<div class="holder">
 |		<div class="row">
 |			<div class="col small-6 medium-4 xlarge-3">
 |				THIS DIV WILL DISPLAY:
 |				- 100% 		on mobile
 |				- 50% 		from $bp2
 |				- 33.3333% 	from $bp3
 |				- 25% 		from $bp5
 |			</div>
 |		</div>
 |	</div>
*/

// Calculate grid classes.
@function grid-calc($colNumber){
  @return percentage(($colNumber / $grid-columns));
}

.row {
  @extend %clearfix;
  position: relative;

  .row {
    @include rem-margin-lr(-1, -1);
    padding: 0;
    max-width: none;
  }
}

.col {
  @include rem-padding-lr(1,1);
  float: left;
  position: relative;
  width: 100%;
}

// Generate medium classes.
@if $generate-x-small == true {
  @media (min-width: $bp1) {

    // Generate widths for this breakpoint
    @for $i from 1 through $grid-columns {
      .x-small-#{$i} {
        width: grid-calc($i);
      }
    }
  }
}

// Generate small classes.
@if $generate-small == true {
  @media (min-width: $bp2) {

    // Generate widths for this breakpoint
    @for $i from 1 through $grid-columns {
      .small-#{$i} {
        width: grid-calc($i);
      }
    }
  }
}

// Generate medium classes.
@if $generate-medium == true {
  @media (min-width: $bp3) {

    // Generate widths for this breakpoint
    @for $i from 1 through $grid-columns {
      .medium-#{$i} {
        width: grid-calc($i);
      }
    }

    .last-col {
      @include last-col;
    }
  }
}

// Generate large classes.
@if $generate-large == true {
  @media (min-width: $bp4) {

    // Generate widths for this breakpoint
    @for $i from 1 through $grid-columns {
      .large-#{$i} {
        width: grid-calc($i);
      }

      .large-#{$i}:nth-child(#{$i+1}n+1){
        clear: left;
      }
    }

    // Generate pushes from this breakpoint
    @for $i from 1 through $grid-columns {
      .push-#{$i} {
        @include push-left($i);
      }
    }

    // Generate pulls from this breakpoint
    @for $i from 1 through $grid-columns {
      .pull-#{$i} {
        @include pull-left($i);
      }
    }

  }
}

// Generate x-large classes.
@if $generate-x-large == true {
  @media (min-width: $bp5) {

    // Generate widths for this breakpoint
    @for $i from 1 through $grid-columns {
      .x-large-#{$i} {
        width: grid-calc($i);
      }
    }

  }
}
