.icon-bubble:before {
  font-size: 90%;
  position: relative;
  top: -2px;
}

.icon-facebook:before {
  font-size: 90%;
  position: relative;
  top: -1px;
}

.icon-twitter:before {
  font-size: 90%;
  position: relative;
  top: -1px;
}

.icon-linkedin:before {
  font-size: 90%;
  position: relative;
  top: -1px;
}
