@font-face {
  font-family: 'gent-icons';
  src:url('#{$base-theme-path}/fonts/gent-icons.eot?Y69m6ab');
  src:url('#{$base-theme-path}/fonts/gent-icons.eot?#iefixY69m6ab') format('embedded-opentype'),
  url('#{$base-theme-path}/fonts/gent-icons.woff?Y69m6ab') format('woff'),
  url('#{$base-theme-path}/fonts/gent-icons.ttf?Y69m6ab') format('truetype'),
  url('#{$base-theme-path}/fonts/gent-icons.svg?Y69m6ab#gent-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

// IMPORTANT: KEEP "icon-base-css" class. Can be used to extend, to set base gent-icons css.
[class^="icon-"], [class*=" icon-"], .icon-base-css {
  font-family: 'gent-icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cross:before {
  content: "\e904";
}

.icon-tick:before {
  content: "\e905";
}

.icon-house:before {
  content: "\e903";
}

.icon-medal:before {
  content: "\e900";
}

.icon-poll:before {
  content: "\e901";
}

.icon-tooltip:before {
  content: "\e902";
}

.icon-bulb:before {
  content: "\e800";
}

.icon-megaphone:before {
  content: "\e801";
}

.icon-follow:before {
  content: "\e635";
}

.icon-unflag:before {
  content: "\e637";
}

.icon-trash:before {
  content: "\e638";
}

.icon-maximize:before {
  content: "\e630";
}

.icon-minimize:before {
  content: "\e631";
}

.icon-checklist:before {
  content: "\e632";
}

.icon-flag:before {
  content: "\e633";
}

.icon-heart:before {
  content: "\e634";
}

.icon-adventure:before {
  content: "\e61f";
}

.icon-appliances:before {
  content: "\e620";
}

.icon-basketball:before {
  content: "\e621";
}

.icon-bbq:before {
  content: "\e622";
}

.icon-fitness:before {
  content: "\e623";
}

.icon-football:before {
  content: "\e624";
}

.icon-forest:before {
  content: "\e625";
}

.icon-historical-value:before {
  content: "\e626";
}

.icon-nature:before {
  content: "\e627";
}

.icon-park:before {
  content: "\e628";
}

.icon-petanque:before {
  content: "\e629";
}

.icon-ping-pong:before {
  content: "\e62a";
}

.icon-playground:before {
  content: "\e62b";
}

.icon-rdf:before {
  content: "\e62c";
}

.icon-sandpit:before {
  content: "\e62d";
}

.icon-skateboard:before {
  content: "\e62e";
}

.icon-youtube:before {
  content: "\e62f";
}

.icon-flickr:before {
  content: "\e61c";
}

.icon-vimeo:before {
  content: "\e61d";
}

.icon-close:before {
  content: "\e61e";
}

.icon-instagram:before {
  content: "\e61a";
}

.icon-googleplus:before {
  content: "\e61b";
}

.icon-critical:before {
  content: "\62";
}

.icon-hidden:before {
  content: "\68";
}

.icon-alert:before {
  content: "\61";
}

.icon-menu:before {
  content: "\3d";
}

.icon-caret:before {
  content: "\3e";
}

.icon-clip:before {
  content: "\63";
}

.icon-email:before {
  content: "\65";
}

.icon-loc:before {
  content: "\70";
}

.icon-search:before {
  content: "\73";
}

.icon-arrow-up:before {
  content: "\e600";
}

.icon-arrow-down:before {
  content: "\e601";
}

.icon-form_fill:before {
  content: "\e602";
}

.icon-tag:before {
  content: "\e603";
}

.icon-newtab:before {
  content: "\e604";
}

.icon-calendar:before {
  content: "\e605";
}

.icon-user:before {
  content: "\e606";
}

.icon-link:before {
  content: "\e607";
}

.icon-shoppingcart:before {
  content: "\e608";
}

.icon-sort:before {
  content: "\e609";
}

.icon-list:before {
  content: "\e60a";
}

.icon-phone:before {
  content: "\e60b";
}

.icon-bubble:before {
  content: "\e60c";
}

.icon-facebook:before {
  content: "\e60d";
}

.icon-plus:before {
  content: "\e60e";
}

.icon-twitter:before {
  content: "\e60f";
}

.icon-linkedin:before {
  content: "\e610";
}

.icon-capacity:before {
  content: "\e611";
}

.icon-location:before {
  content: "\e612";
}

.icon-price:before {
  content: "\e613";
}

.icon-book:before {
  content: "\e614";
}

.icon-surface:before {
  content: "\e615";
}

.icon-closingtime:before {
  content: "\e616";
}

.icon-save:before {
  content: "\e617";
}

.icon-edit:before {
  content: "\e618";
}

.icon-throbber:before {
  content: "\e619";
}

.icon-outdoor:before {
  content: "\f600";
}

.icon-changingrooms:before {
  content: "\f601";
}

.icon-parking:before {
  content: "\f602";
}

.icon-weelchair:before {
  content: "\f603";
}

.icon-tribune:before {
  content: "\f604";
}

.icon-toilet:before {
  content: "\f605";
}

.icon-aed:before {
  content: "\f606";
}

.icon-shower:before {
  content: "\f607";
}

.icon-addtocalendar:before {
  content: "\f60a";
}

.icon-bar:before {
  content: "\f60b";
}

.icon-bikeroute:before {
  content: "\f60c";
}

.icon-publictransport:before {
  content: "\f60d";
}

.icon-directions:before {
  content: "\f60e";
}

.icon-flickr:before {
  content: "\e61c";
}

.icon-vimeo:before {
  content: "\e61d";
}

.icon-close:before {
  content: "\e61e";
}
