//
// Typography.
// ---
// Default markup for typographic elements, based on the settings file.
//

// Modular scale classes
.ms-2 {
  @include text-dimensions(-2, .75, 1);
}

.ms-1 {
  @include text-dimensions(-1, .85, 1);
}

.ms1 {
  @include text-dimensions(1, 1, 1);
}

.ms2 {
  @include text-dimensions(2, 1.05, 1);
}

.ms3 {
  @include text-dimensions(3, 1.15, 1);
}

.ms4 {
  @include text-dimensions(4, 1.25, 1);
}

.ms5 {
  @include text-dimensions(5, 1.35, 1);
}

.ms6 {
  @include text-dimensions(6, 1.5, 1);
}

.ms7 {
  @include text-dimensions(7, 1.65, 1);
}

.ms8 {
  @include text-dimensions(8, 1.75, 1);
}

.ms9 {
  @include text-dimensions(9, 2, 1);
}

.ms10 {
  @include text-dimensions(10, 2, 1);
}


h1,
.h1 {
  @include h1;
}

h2,
.h2 {
  @include h2;
}

h3,
.h3 {
  @include h3;
}

h4,
.h4,
h5,
.h5,
h6,
.h6 {
  @include base-header;
  @include text-dimensions(0, 1, 0);
  font-weight: $beta-font-weight;
}

.mega {
  @include text-dimensions(10, 1.8, 1);
}

p,
ol,
ul,
dl,
table,
address,
pre {
  @include text-dimensions(-1, 1, 1);

  @include mq($bp-tablet-s) {
    @include text-dimensions(0, 1, 1);
  }
}

.lead {
  @include text-dimensions(1, 1.2, 1.2, .8, .8);
  font-weight: 500;
  border-bottom: 1px solid darken($gamma-ui-color, 5);
}

.small,
.milli {
  @include text-dimensions(-3, .8, 0, .9);
}

.caption {
  @include text-dimensions(-5, .65);
  @include padding-tb(.3, .3);

  color: $caption-color;
  font-style: italic;
  margin: 0;

  @include mq($bp-tablet-s) {
    @include text-dimensions(-3, .8);
  }
}

@mixin filesize {
  @include text-dimensions(-3, .8, 0, 0);
  color: $beta-text-color;
}

.filesize {
  @include filesize;
}

.filetype {
  @include text-dimensions(-4, .8, 0, 0, .05);
  @include px-padding-lr(.5, .5);

  display: inline-block;
  margin-left: .5em;
  color: $white-color;
  font-weight: $beta-font-weight;
  background-color: $beta-text-color;
  line-height: 1em;
}

ul,
ol {
  padding-left: 1em;
}

blockquote {
  padding-left: 2rem;
  quotes: '\201C' '\201D';
  position: relative;

  &::before {
    color: $grey-progressbar;
    font-size: 4rem;
    line-height: 1;
    content: open-quote;
    float: left;
    position: absolute;
    top: -.25rem;
    left: 0;
  }

  p {
    font-style: italic;
  }

  p + p:last-child {
    margin-top: -.5rem;
    color: $gamma-text-color;
    font-size: .7rem;
  }
}

table {
  @include text-dimensions(0, 1, 1);

  text-align: left;
  width: 100%;
  font-family: $alpha-font-family;
  border-spacing: 0;
  border-collapse: collapse;
  position: relative;

  @include mq($bp-tablet-s, max) {
    table {
      thead,
      tbody,
      th,
      td,
      tr {
        display: block;
      }

      thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
      }

      tr {
        @include padding-tb(0, .5);
        @include margin-bottom(.5);

        border: 0 solid $gamma-ui-color;
        border-bottom-width: 1px;
      }

      td {
        padding: 0;
        border: 0;
        position: relative;
        white-space: normal;
        text-align: left;
      }
    }
  }
}

// @todo Add a class to bot, we're duplicating a lot of code.
.node,
#revisioning-revisions-summary { // sass-lint:disable-line no-ids
  table {
    @include text-dimensions(-1, 1, 0, 0);
  }

  caption {
    @include text-dimensions(-5, 1, 0, 0);
    color: $gamma-text-color;
    font-family: $alpha-font-family;
    font-style: italic;
    text-align: right;
  }

  td,
  th {
    padding: .25em .5em;
  }

  th {
    @include text-dimensions(-2, 1, 0, 0);
    background-color: hsl(hue($alpha-ui-color), 40, 95);
    border-right: 1px solid rgba($white-color, .1);
    box-shadow: inset 0 -1px 1px 0 rgba(hsl(hue($alpha-ui-color), 40, 87.5), 1);
    color: $alpha-ui-color;
    font-weight: normal;
  }

  tr {
    border: 0 solid $gamma-ui-color;
    border-bottom-width: 1px;
  }

  td.align-right {
    text-align: right;
  }

  tbody {
    tr {
      &:nth-of-type(even) {
        background-color: lighten($gamma-ui-color, 3);
      }
    }
  }
}

//
// Links.
//
a {
  transition: color .11s ease-in-out;
  color: $alpha-link-color;

  &:visited {
    color: $alpha-link-colorvisited;
  }

  &:hover {
    text-decoration: none;
    color: $alpha-link-colorhover;
  }

  &:focus {
    outline: thin dotted;
    color: $alpha-link-colorfocus;
  }

  &:hover,
  &:active {
    outline: 0;
  }
}

.textlink {
  @include px-padding-lr(0, 2.2);
  position: relative;

  &::after {
    position: absolute;
    right: 0;
    top: .4em;
    content: '\e604';
    font-size: 80%;
    font-family: 'gent-icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  }
}

.node.view-mode-full div.body p {
  a[href^='http://']:not([class]),
  a[href^='https://']:not([class]),
  a[href^='//']:not([class]) {
    position: relative;

    &::after {
      @include icon-newtab-before; // sass-lint:disable-line placeholder-in-extend
      @include icon-base-css;

      display: inline-block;
      position: relative;
      top: 1px;
      left: -4px;
      margin-left: 8px;

      font-size: 80%;
      line-height: 1;
      white-space: pre;
      text-decoration: none;
    }
  }

  a[href^='mailto:']:not([class]) {
    position: relative;

    &::after {
      @include icon-email-before; // sass-lint:disable-line placeholder-in-extend
      @include icon-base-css;

      display: inline-block;
      position: relative;
      top: 1px;
      left: -4px;
      margin-left: 8px;

      font-size: 80%;
      line-height: 1;
      white-space: pre;
      text-decoration: none;
    }
  }
}

.morelink {
  @include px-padding-lr(1.5, 0);
  font-weight: $beta-font-weight;
  text-decoration: none;
  position: relative;

  &::before {
    font-family: 'gent-icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;

    content: '\e60e';
    font-size: .5em;
    line-height: 1;

    position: absolute;
    left: 0;
    top: .8em;
  }
}

.readable-content {
  a[href^='http'] {
    position: relative;
    padding-right: 1em;

    &::after {
      @include text-dimensions(-3, 1, 0, .1);
      position: absolute;
      margin-left: 5px;
      font-family: 'gent-icons';
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      content: '\e604';
    }

  }

  ol {
    margin-left: .5em;
    padding-left: 1em;
  }
}

.small-print {
  p,
  ol,
  ul,
  dl,
  table,
  address,
  pre {
    @include text-dimensions(-4, .75, 1);
    color: $gamma-text-color;
  }
}

.regular {
  font-weight: normal;
}

strong {
  font-weight: 500;
}
