//
// Typography
// ---
// Default markup for typographic elements, based on the settings file.
//

// Modular scale classes

.ms-2 {
  @include text-dimensions(-2, .75, 1);
}

.ms-1 {
  @include text-dimensions(-1, .85, 1);
}

.ms1 {
  @include text-dimensions(1, 1, 1);
}

.ms2 {
  @include text-dimensions(2, 1.05, 1);
}

.ms3 {
  @include text-dimensions(3, 1.15, 1);
}

.ms4 {
  @include text-dimensions(4, 1.25, 1);
}

.ms5 {
  @include text-dimensions(5, 1.35, 1);
}

.ms6 {
  @include text-dimensions(6, 1.5, 1);
}

.ms7 {
  @include text-dimensions(7, 1.65, 1);
}

.ms8 {
  @include text-dimensions(8, 1.75, 1);
}

.ms9 {
  @include text-dimensions(9, 2, 1);
}

.ms10 {
  @include text-dimensions(10, 2, 1);
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  color: $alpha-text-color;
  margin: 0;

  a {
    text-decoration: none;
  }
}

h1, .h1 {
  font-family: $beta-font-family;
  font-weight: $beta-font-weight;
  @include text-dimensions(6, 1.5, 1);

  @include mq($bp6) {
    @include text-dimensions(8, 1.75, 1);
  }
}

h2, .h2 {
  @include text-dimensions(2, 1.15, 1, 1);
  font-family: $beta-font-family;
}

h3, .h3 {
  @include text-dimensions(0, 1, 0);
}

h4, .h4,
h5, .h5,
h6, .h6 {
  @include text-dimensions(0, 1, 0);
  font-weight: $beta-font-weight;
}

p,
ol,
ul,
dl,
table,
address,
pre {
  @include text-dimensions(0, 1, 1);
}

ul, ol {
  padding-left: 1em;
}

blockquote {
  font-style: italic;
}

table {
  width: 100%;
  position: relative;

  border-spacing: 0;
  border-collapse: collapse;

  font-family: $alpha-font-family;
  text-align: left;

  @include text-dimensions(0, 1, 1);
}

//
// Images
//

img {
  max-width: 100%;
}

//
// Links
//

a {
  transition: all .11s ease-in-out;
  color: $alpha-link-color;

  &:visited {
    color: $alpha-link-color-visited;
  }

  &:hover {
    text-decoration: underline;
    color: $alpha-link-color-hover;
  }

  &:focus {
    outline: thin dotted;
    color: $alpha-link-color-focus;
  }

  &:hover,
  &:active {
    outline: 0;
  }
}
