.file {
  min-width: 17rem;
  margin: 0 -.3rem;
  padding-left: 0;

  &::after {
    display: none;
  }

  .file__button {
    margin: .3rem .6rem 0 .3rem;
  }
}

.form-managed-file {
  .button--inline,
  + .form-description {
    margin-top: .4rem;
  }
}
