input[type="text"],
input[type="search"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="time"],
input[type="email"],
textarea,
select {
  box-sizing: border-box;
  font-size: 1rem;
  line-height: 1.5em;
  display: block;
  margin: 0;
  width: 100%;
  color: $color-gray;
  border: 1px solid $color-light-gray;
  border-radius: $radius-1;
  background: $color-white;
  &:focus {
    border-color: $color-gray;
    color: $color-dark-gray;
    outline: none;
  }

  &.inline {
    @include btn-inlineblock();
  }
}

input[type="text"],
input[type="search"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="time"],
input[type="email"],
textarea{
  padding: .4rem .7rem;
  -webkit-appearance: none;
}

// Since padding doesn't work whit appearance on menulist we need to make use of height and text-indent.
select {
  height: 2.4em;
  text-indent: .3rem;

  &[multiple] {
    height: auto;
  }

  option {
    text-indent: .6rem;
  }

  optgroup {
    font-weight: bold;
  }
}

label {
  font-weight: bold;
  color: $color-darkest-blue;
  font-size: 1rem;
  display: block;

  .label-optional {
    font-weight: normal;
    font-size: .8rem;
    color: $color-gray;
  }
}

// Radios and checkboxes shouldn't start on a new line.
input + label {
  display: inline;
}