@use '../../../../build/styleguide/sass/00-settings/settings' as *;
@use '../../../../build/styleguide/sass/00-mixins/mixins' as *;

.search {
  flex-wrap: nowrap;

  @include desktop {
    max-width: 25rem;
  }

  .form-actions {
    flex-shrink: 0;
  }

  label {
    @extend %visually-hidden;
  }

  input[type='text'] {
    background-color: coloring('white');
    @extend %search-input;
  }
}
