.search {
  flex-wrap: nowrap;

  .form-actions {
    flex-shrink: 0;
  }

  label {
    @extend %visually-hidden;
  }

  input[type='text'] {
    background-color: color('white');
    @extend %search-input;
  }
}
