.field {
  &.field--label-inline {
    > div {
      display: inline;
    }
  }
  .field__label {
    font-weight: bold;
  }
}

fieldset {
  .fieldset-legend {
    font-weight: bold;
  }
}

.field-add-more-submit {
  margin-bottom: 1rem;
}

.resize-vertical {
  min-height: 7.2rem;
}

.filter-wrapper {
  margin: -1rem 0 1rem;

  .filter-help a:after {
    top: .25rem;
  }
}

.field-multiple-table {
  th {
    text-align: left;

    &.tabledrag-hide {
      padding-left: 1rem;
    }
  }

  .draggable {
    .field-multiple-drag {
      vertical-align: middle;

      a.tabledrag-handle {
        height: 2.5rem;
        margin: -.5rem 0 0 -.5rem;

        .handle {
          padding: .75rem .75rem;
          margin: .5rem;
        }
      }
    }

    .tabledrag-hide {
      vertical-align: middle;
      padding-left: 1rem;
    }
  }
}

.image-widget + .description {
  margin: -1rem 0 1rem;
}

.form-type-vertical-tabs {
  .vertical-tabs__pane {
    padding: .5rem 1rem;
  }
}
