$color-darkest-blue: #2C3F48;
$color-dark-blue: #00597A;
$color-blue: #007DB3;
$color-light-blue: #D0DDE0;
$color-lightest-blue: #ECF5F7;
$color-darkest-gray: #404546;
$color-dark-gray: #595f60;
$color-gray: #9DA8AF;
$color-light-gray: #E2E2E2;
$color-lightest-gray: #F4F4F4;
$color-orange: #F39200;
$color-white: #FFFFFF;