@font-face {
  font-family: 'gent-icons';
  src:url('/themes/contrib/gent_base/fonts/gent-icons.eot?n03rbzy');
  src:url('/themes/contrib/gent_base/fonts/gent-icons.eot?#iefixn03rbzy') format('embedded-opentype'),
  url('/themes/contrib/gent_base/fonts/gent-icons.woff?n03rbzy') format('woff'),
  url('/themes/contrib/gent_base/fonts/gent-icons.ttf?n03rbzy') format('truetype'),
  url('/themes/contrib/gent_base/fonts/gent-icons.svg?n03rbzy#gent-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}