// Grid cols
$grid-columns: 12;

// Gutter
$gutter-width: 20px;

// Visual breakpoints.
$bp-tablet: 640px;
$bp-desktop: 960px;

// Max content width.
$bp-max-content: 1440px;

// Max viewport.
$bp-container: 1600px;
