$header-side-padding: 255px;

article {
  &.overview-layout,
  &.detail-layout,
  &.map-layout {
    div.content-header-container {
      // Content header in Drupal should always break out on the sides.
      // This breakout is provided for several layouts by the styleguide.
      margin-right: -20px;
      margin-left: -20px;

      @include tablet {
        width: calc(100% + $header-side-padding * 2);
        margin-left: -$header-side-padding;
        padding-right: $header-side-padding;
        padding-left: $header-side-padding;
      }
    }
  }

  div.content-header-container {
    margin-top: 0;

    &.accolade-title {
      @include tablet {
        // Set max width because the absolute title gets out of boundary.
        .left {
          max-width: calc(100% - (135px * 2 + 20px));
        }
      }
    }

    // Header that makes the first adjacent sibling element overlap.
    //
    // This is defined in styleguide as well, but not with paragraph classes.
    // The overlapping paragraph types are defined in gent_base.theme in
    // function _gent_base_node_has_overlapped_header().
    &.overlap {
      & + * {
        position: relative;
        z-index: 1;
      }

      // Styling for adjacent sibling elements following headers with image.
      &.image {
        & + .paragraph--type--table-of-contents {
          margin: 20px 0 40px;

          @include tablet {
            margin: 160px 0 40px;
          }

          @include desktop {
            max-width: calc($bp-max-content - 570px - 60px);
            margin: -236px 0 100px;
          }
        }
      }

      // Styling for adjacent sibling elements following headers without image.
      &:not(.image) {
        // Overlapping paragraphs with full width.
        & + * {
          @include col(12);

          margin-top: -120px;
        }

        // Add white background to specific overlapping paragraphs.
        & + .paragraph--type--partners,
        & + .paragraph--type--text {
          max-width: 100%;
          padding: 20px;
          background-color: color('white');

          .unpublished-content & {
            background-color: $unpublished-color;
          }

          @include tablet {
            padding: 60px;
          }
        }
      }
    }

    & + .paragraph--type--text {
      & > * {
        margin-top: 0;
      }
    }
  }
}
