header.header {
  margin-bottom: 1rem;

  a.btn {
    height: 2rem;
  }

  .content-container {
    > * {
      //
      // Change the look and feel of the search molecule.
      //
      &.header-search,
      &.header-search-mobile {
        a.btn {
          width: 2rem;
          padding-right: .5rem;
          padding-left: .5rem;
          font-size: 1rem;
          line-height: 1.8rem;
        }
      }

      &.header-search {
        @include tablet {
          a.btn {
            float: left;
          }
        }
      }

      &.header-search-mobile {
        &.js-form-search-opened {
          a.btn {
            position: absolute;
            top: .35rem;
            left: calc(75% - 2.35rem);
          }
        }
      }
    }
  }
}

