{% set page_title = form.progress ? form['#webform'].pages[form.progress['#current_page']]['#title'] %}

{% if form.progress %}

<div class="form--multistep">
  {{ form.progress }}

  <div class="form-content">

    {% endif %}
    {% if page_title %}
      <h2>{{ page_title }}</h2>
    {% endif %}

    {% if form['#has_inputs'] %}
      <p class="form-disclaimer">{{ 'Fill in all fields unless otherwise stated.'|t }}</p>
    {% endif %}

    {{ form|without('progress') }}

    {% if form.progress %}
  </div>
</div>
{% endif %}
