{% set pageTitle = form.progress
  ? form['#webform'].pages[form.progress['#current_page']]['#title']
  : form['#webform'].label
%}

{% if form.progress %}

  <div class="form--multistep">
    {{ form.progress }}

    <div class="form-content">

{% endif %}
    <h2>{{ pageTitle }}</h2>

    {% if form['#has_inputs'] %}
      <p class="form-disclaimer">{{ 'Fill in all fields unless otherwise stated.'|t }}</p>
    {% endif %}

    {{ form|without('progress') }}

{% if form.progress %}
  </div>
</div>
{% endif %}
