// Buttons.

%btn {
  text-decoration: none;
  border: none;
  border-radius: $radius-1;
  position: relative;
  display: block;
  width: 100%;
  text-align: center;
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: $alpha-font-family;
  font-weight: $beta-font-weight;
  cursor: pointer;
  text-decoration: none;
  transition: all .11s ease-in-out;
  transition-property: background, color, border;
  outline: none;
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
  box-shadow: inset 0 -1px 1px rgba($alpha-text-color, .25);

  &:hover,
  &:visited {
    text-decoration: none;
  }

  &:focus,
  &:active {
    box-shadow: inset 0 1px 1px rgba($alpha-text-color, .25);
  }

}

// Button sizes.

@mixin btn-l {
  @include px-padding-lr(2,2);
  @include text-dimensions(0,1,0,.7,.8);
}

@mixin btn-m {
  @include px-padding-lr(1.5,1.5);
  @include text-dimensions(-1,1,0,.5,.5);
}

@mixin btn-s {
  @include em-padding-lr(.5);
  @include text-dimensions(-2,1,0,.15,.2);
}

// Button display.

@mixin btn-inlineblock {
  display: inline-block;
  width: auto;
}

// Button color.
// use: @mixin btn-color(color1[,color2]);

@mixin btn-color($c1: $alpha-ui-color, $c2: lighten($c1, $depth)) {

  border: $border solid $c1;

  background-color: $c1;
  @if $depth > 0 {
    background-image: linear-gradient($c1, $c2);
  }

  @if $highlight {
    box-shadow: inset 0 1px 0 rgba(#FFF, $highlight/100%);
  }

  @include text-color($c1);

  &:hover,
  &:focus {
    border: $border solid lighten($c1, 100-$contrast);
    background-color: lighten($c1, 100-$contrast);
    @if $depth > 0 {
      background-image: linear-gradient(lighten($c1, 100-$contrast), lighten($c2, 100-$contrast));
    }
    @include text-color(lighten($c1, 100-$contrast));

  }

  &:focus {
    text-decoration: underline;
  }

  &:active {
    background-color: lighten($c1, 100-$contrast);
    @if $depth > 0 {
      background-image: linear-gradient(lighten($c2, 100-$contrast), lighten($c1, 100-$contrast));
    }

    box-shadow: none;
    @include text-color(lighten($c1, 100-$contrast));
  }

  &:visited {
    @include text-color($c1);
  }
}
