// Clearfix.
// @extend %clearfix;
%clearfix {
  &::before,
  &::after {
    content: '';
    display: table;
  }

  &::after {
    clear: both;
  }
}

// Prevent Long URL’s From Breaking Out of Container.
// http://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container
%word-break {
  hyphens: auto;
  word-break: break-all;
}
