/*
	Grid
*/

$grid-gutter: 20;
$grid-column: 60;
$grid-columns: 12;

// calculations

$grid-margin: $grid-gutter / 2;
$grid-width: ($grid-gutter + $grid-column) * $grid-columns;

// Responsive design formula for fully percentual columns & gutters

$fluid-grid-column: $grid-column / $grid-width * 100;
$fluid-grid-gutter: ($grid-gutter / $grid-width) * 100;
$fluid-grid-margin: ($grid-margin / $grid-width) * 100;

// mixins

// horizontal padding based on the context grid gutter in em
// use: @include em-padding-lr(#left, #right);

@mixin em-padding-lr($pl: 1, $pr: 1) {

  @if $pl > 0 {
    padding-left: $alpha-line-height * 1em * $pl;
  }

  @if $pr > 0 {
    padding-right: $alpha-line-height * 1em * $pr;
  }

}

@mixin rem-padding-lr($pl: 1, $pr: 1) {

  @if $pl > 0 {
    padding-left: $pl * $alpha-font-size * 1px;
    padding-left: $pl * 1rem;
  }

  @if $pr > 0 {
    padding-right: $pr * $alpha-font-size * 1px;
    padding-right: $pr * 1rem;
  }

}

@mixin rem-margin-lr($ml: 1, $mr: 1) {
  @if $ml != 0 {
    margin-left: $ml * $alpha-font-size * 1px;
    margin-left: $ml * 1rem;
  }
  @if $mr != 0 {
    margin-right: $mr * $alpha-font-size * 1px;
    margin-right: $mr * 1rem;
  }
}

// horizontal padding based on the context grid gutter
// use: @include px-padding-lr(#left, #right);

@mixin px-padding-lr($left: 1, $right: 1) {
  @if $left > 0 {
    padding-left: $grid-margin * $left * 1px;
  }
  @if $right > 0 {
    padding-right: $grid-margin * $right * 1px;
  }
}

// horizontal margin based on the context grid gutter in em
// use: @include em-margin-lr(#left, #right);

@mixin em-margin-lr($left: 1, $right: $left) {
  @if $left > 0 {
    margin-left: $grid-margin/$alpha-font-size * $left * 1em;
  }
  @if $right > 0 {
    margin-right: $grid-margin/$alpha-font-size * $right * 1em;
  }
}

// horizontal margin based on the context grid gutter
// use: @include px-margin-lr(#left, #right);

@mixin px-margin-lr($left: 1, $right: 1) {
  @if $left != 0 {
    margin-left: $grid-margin * $left * 1px;
  }
  @if $right != 0 {
    margin-right: $grid-margin * $right * 1px;
  }
}

// horizontal percentual margin
// use: @include perc-margin-lr(#left, #right);

@mixin perc-margin-lr($left: 1, $right: $left) {
  margin-left: $fluid-grid-margin * $left * 1%;
  margin-right: $fluid-grid-margin * $right * 1%;
}

// fully percentual collumns and gutters
// use: @include perc-col-(#amount, #gutterleft, #gutterright)

@mixin perc-col-($amount, $pl, $pr) {
  width: ($fluid-grid-column * $amount) + ($fluid-grid-margin * (($amount * 2) - 2)) + 0%;
  @include perc-margin-lr($pl, $pr);
  // @include float-left;
  float: left;
}

// border-box box sizing
// use: @include box-(#amount, #gutterleft, #gutterright);

@mixin box-($amount, $left, $right) {
  width: ($fluid-grid-column * $amount) + ($fluid-grid-gutter * $amount) + 0%;
  float: left;
  position: relative;
  // @include px-padding-lr($left, $right);
  @include rem-padding-lr($left, $right); // experimental
}

// push #amount of columns left
// use @include push-(#amount);

@mixin push-left($amount) {
  left: ($fluid-grid-column * $amount) + ($fluid-grid-gutter * $amount) + 0%;
}

@mixin pull-right($amount) {
  right: ($fluid-grid-column * $amount) + ($fluid-grid-gutter * $amount) + 0%;
}

@mixin pull-left($amount) {
  left: (($fluid-grid-column * $amount) + ($fluid-grid-gutter * $amount) + 0%) * -1;
}

// last-col mixin to re-align the right edge
// use: @extend .last-col;

@mixin last-col {
  float: right;
}
