@mixin list {
  list-style: none;
  padding-left: 0;

  li {
    @include px-padding-lr(1.5, 0);
    position: relative;

    &::before {
      position: absolute;
      left: 0;
      top: 0;
      color: $gamma-text-color;
      content: '\2022';
    }
  }
}

%list {
  @include list;
}

@mixin link-list {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;

  li {
    @include px-padding-lr(1.5, 0);
    @include padding-tb(0, .6);
    position: relative;

    &::before {
      position: absolute;
      left: 0;
      top: .55em;
      font-size: .7em;
      line-height: 1;
      content: '\3e';
      color: $alpha-ui-color; // Should be inherited from the parent, but links will differ from this color.
      font-family: 'gent-icons';
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
    }
  }

  li:last-child {
    padding-bottom: 0;
  }

  li p {
    margin-bottom: 0;
  }
}

%link-list {
  @include link-list;
}

%social-list {
  @include clearfix;
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    @include padding-tb(.5, 0);
    float: left;
    width: 18.4%;
    margin-right: 2%;
  }

  li:last-child {
    margin-right: 0;
  }

  a {
    @include hide-text;
    display: block;
    height: 50px;
    background-color: $alpha-ui-color;
    color: $white-color;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    transition: background-color .3s ease-in-out;

    &:hover,
    &:focus {
      background-color: lighten($alpha-ui-color, 10);
    }
  }
}

@mixin no-bullet-list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

%no-bullet-list {
  @include no-bullet-list;
}

@mixin link-list-more {
  text-decoration: none;
  font-weight: $beta-font-weight;

  &::before {
    content: '\e60e';
    font-size: .5em;
    top: .9em;
  }
}

%link-list__more {
  @include link-list-more;
}
