%list {
  list-style: none;
  padding-left: 0;

  li {
    @include px-padding-lr(1.5, 0);
    position: relative;
  }

  li:before {
    content: "•";
    color: $gamma-text-color;
    position: absolute;
    left: 0;
    top: 0;
  }
}

%link-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;

  li {
    @include px-padding-lr(1.5, 0);
    @include padding-tb(0, .6);
    position: relative;

    &:before {
      //color: inherit;
      color: $alpha-ui-color; // Should be inherited from the parent, but links will differ from this color.
      position: absolute;
      left: 0;
      
      top: .55em;
      font-size: .7em;
      line-height: 1;
      content: "\3e";
      font-family: 'gent-icons';
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
    }
  }

  li:last-child {
    padding-bottom: 0;
  }

  li p {
    margin-bottom: 0;
  }
}

%social-list {
  @extend %clearfix;
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    @include padding-tb(.5, 0);
    float: left;
    width: 18.4%;
    margin-right: 2%;
  }

  li:last-child {
    margin-right: 0;
  }

  a {
    @extend %hide-text;
    display: block;
    height: 50px;
    background-color: $alpha-ui-color;
    border-radius: $alpha-radius;
    color: $white-color;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    transition: background-color .3s ease-in-out;

    &:hover,
    &:focus {
      background-color: lighten($alpha-ui-color, 10);
    }
  }
}

%no-bullet-list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

%link-list__more {
  a {
    text-decoration: none;
    font-weight: $beta-font-weight;
  }

  a:before {
    content: "\e60e";
    font-size: .5em;
    top: .9em;
  }
}