@import "typography";

%messages {
  @extend %rounded-1;
  border: 1px solid darken($gamma-ui-color, 10);
  background-color: $gamma-ui-color;
  @include padding-tb(1, 1);
  @include rem-padding-lr(1, 1);
  @include margin-bottom(1);

  h2 {
    padding-top: 0;
    @include text-dimensions(1, 1, .5);
  }

  ul {
    margin-bottom: 0;
    @include text-dimensions(-1, 1);
  }
}

%messages--error {
  border-color: $error-color;
  color: hsl(hue($error-color), 75, 50);
  background-color: hsl(hue($error-color), 75, 95);
}

%messages--status {
  border-color: $status-color;
  color: hsl(hue($status-color), 75, 30);
  background-color: hsl(hue($status-color), 75, 95);
}

%messages--warning {
  border-color: $warning-color;
  color: hsl(hue($warning-color), 75, 40);
  background-color: hsl(hue($warning-color), 100, 95);
}
