%sheet {
  position: relative;
  background-color: hsl(hue($alpha-ui-color),40,97.5);
  border-radius: $radius;
  box-shadow: inset 0 -1px 1px 0 rgba(hsl(hue($alpha-ui-color),40,87.5),1);
}

%sheet-content {
  @include rem-padding-lr(1,1);
  @include padding-tb(1,1);
}
