//
// Tabs.
//
@mixin tabs-horizontal {
  @include no-bullet-list;
  @include padding-tb(1, 0);
  @include margin-tb(0, 1);

  padding-left: 0;
  padding-right: 0;

  @include mq($bp-phone-m) {
    border-bottom: 1px solid darken($gamma-ui-color, 5);
  }

  li {
    @include rounded-1;
    @include rem-margin-lr(0, 0);
    @include margin-tb(0, .2);
    @include rem-padding-lr(1, 1);
    @include padding-tb(.5, .5);

    font-family: $alpha-font-family;
    font-weight: $beta-font-weight;
    border: 1px solid darken($gamma-ui-color, 5);
    background-color: $white-color;

    @include mq($bp-phone-m) {
      @include rem-margin-lr(0, .5);

      float: left;
      margin-bottom: 0;
      border-bottom: 0;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    &.active {
      background-color: $gamma-ui-color;
    }

    &:hover,
    &:focus {
      background-color: darken($gamma-ui-color, 5);
      transition: background-color .2s ease-in-out;
    }
  }

  a {
    text-decoration: none;
    color: $alpha-ui-color;
  }
}

%tabs-horizontal {
  @include tabs-horizontal;
}

@mixin subtabs-horizontal {
  @include no-bullet-list;
  @include margin-tb(0, 1);

  padding: 0;
  background-color: $gamma-ui-color;

  @include mq($bp-phone-m) {
    border-bottom: 1px solid darken($gamma-ui-color, 5);
  }

  li {
    @include rem-margin-lr(0, 0);
    @include margin-tb(0, 0);
    @include rem-padding-lr(.5, .5);
    @include padding-tb(.5, .5);

    @include mq($bp-phone-m) {
      float: left;
    }

    &:hover,
    &:focus {
      background-color: darken($gamma-ui-color, 5);
      transition: background-color .2s ease-in-out;
    }

    &.active a {
      font-weight: bold;
    }
  }

  a {
    text-decoration: none;
    color: $alpha-ui-color;
  }
}

%subtabs-horizontal {
  @include subtabs-horizontal;
}
