@use 'gb-gs-mixins' as *;

.sidebar.filter-section {
  > span {
    @include theme('color', 'color-tertiary', 'filter_disclaimer text');

    display:  block;
    margin-bottom: .8rem;
    font-size:  .6rem;
    line-height: 1.7;
  }
}
