@media (min-width: $bp4) {
  .l-main, .l-header {
    max-width: 63.25em;
    margin: 0 auto;
  }
}

.holder {
  position: relative;
  @include padding-tb(1, 0);

  @include mq($bp3) {
    @include rem-padding-lr(1, 1);
    @include padding-tb(2, 1);
  }
}

.site-breadcrumb-holder {
  border-top: 1px solid #fff;
  z-index: 20;

  @include mq($bp3) {
    @include padding-tb(1, 0);
    padding-bottom: 0;
  }
}

.intro-holder {
  @include rem-padding-lr(1, 1);
  background: url($base-theme-path + "/images/schapestal.jpg") no-repeat scroll center bottom / cover transparent;
  //box-shadow: 0 0 5px rgba(36, 39, 40, 0.15) inset;
  min-height: 18em;

  &:before {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    @include background-opacity($alpha-text-color,.35);
  }

  .site-logo {
    display: block;
  }

  .site-name {
    position: absolute;
    bottom: -0.5em;
    left: 0;
  }
}

.l-header .top-row {
  height: (18 - 2 - 1) * 1em;
}
