//
// Spacing.
//
.padding {
  @include padding-tb(.5, .5);
}

.padding--big {
  @include padding-tb(1, 1);

  @include mq($bp-tablet-s) {
    @include padding-tb(1.5, 1.5);
  }
}

.padding-top {
  @include padding-tb(.5, 0);

  @include mq($bp-tablet-s) {
    @include padding-tb(1, 0);
  }
}

.padding-top--big {
  @include padding-top--big;
}

.padding--huge {
  @include padding-tb(1.5, 1.5);

  @include mq($bp-tablet-s) {
    @include padding-tb(2, 2);
  }
}

.padding-bottom {
  @include padding-tb(0, .5);

  @include mq($bp-tablet-s) {
    @include padding-tb(0, 1);
  }
}

.padding-bottom--big {
  @include padding-bottom--big;
}

@mixin reset-top-spacing {
  padding-top: 0;
  margin-top: 0;
}

@mixin reset-bottom-spacing {
  padding-bottom: 0;
  margin-bottom: 0;
}

@mixin reset-vertical-spacing {
  @include reset-top-spacing;
  @include reset-bottom-spacing;
}

// Reset classes.
// sass-lint:disable class-name-format
.hN.hN {
  @include reset-vertical-spacing;
}

.hT.hT {
  @include reset-top-spacing;
}

.hB.hB {
  @include reset-bottom-spacing;
}
// sass-lint:enable class-name-format
