//
// Visibility.
//
// sass-lint:disable no-important
@include mqb(0, $bp-tablet-s) {
  .hidden-mobile {
    display: none !important;
  }
}

@include mqb($bp-tablet-s, $bp-tablet-m) {
  .hidden-tablet {
    display: none !important;
  }
}

@include mq($bp-tablet-m) {
  .hidden-desktop {
    display: none !important;
  }
}

.visible-mobile,
.visible-tablet,
.visible-desktop {
  display: none !important;
}

@include mqb(0, $bp-tablet-s) {
  .visible-mobile {
    display: block !important;
  }

  table.visible-mobile {
    display: table !important;
  }

  tr.visible-mobile {
    display: table-row !important;
  }

  th.visible-mobile,
  td.visible-mobile {
    display: table-cell !important;
  }
}

@include mqb($bp-tablet-s, $bp-tablet-m) {
  .visible-tablet {
    display: block !important;
  }

  table.visible-tablet {
    display: table !important;
  }

  tr.visible-tablet {
    display: table-row !important;
  }

  th.visible-tablet,
  td.visible-tablet {
    display: table-cell !important;
  }
}

@include mq($bp-tablet-m) {
  .visible-desktop {
    display: block !important;
  }

  table.visible-desktop {
    display: table !important;
  }

  tr.visible-desktop {
    display: table-row !important;
  }

  th.visible-desktop,
  td.visible-desktop {
    display: table-cell !important;
  }
}
