@include mqb(0, $bp-tablet-s) {
  .hidden-mobile {
    display: none;
  }
}

@include mqb($bp-tablet-s, $bp-tablet-m) {
  .hidden-tablet {
    display: none;
  }
}

@include mq($bp-tablet-m) {
  .hidden-desktop {
    display: none;
  }
}

.visible-mobile,
.visible-tablet,
.visible-desktop {
  display: none;
}
@include mqb(0, $bp-tablet-s) {
  .visible-mobile {
    display: block;
  }
  table.visible-mobile {
    display: table;
  }
  tr.visible-mobile {
    display: table-row;
  }
  th.visible-mobile,
  td.visible-mobile {
    display: table-cell;
  }
}

@include mqb($bp-tablet-s, $bp-tablet-m) {
  .visible-tablet {
    display: block;
  }
  table.visible-tablet {
    display: table;
  }
  tr.visible-tablet {
    display: table-row;
  }
  th.visible-tablet,
  td.visible-tablet {
    display: table-cell;
  }
}

@include mq($bp-tablet-m) {
  .visible-desktop {
    display: block;
  }
  table.visible-desktop {
    display: table;
  }
  tr.visible-desktop {
    display: table-row;
  }
  th.visible-desktop,
  td.visible-desktop {
    display: table-cell;
  }
}