{% extends "paragraph.html.twig" %}

{% block paragraph %}
  {%
    set classes = [
      'quote-wrapper',
    ]
  %}

  <div{{ attributes.addClass(classes) }}>
    <div class="quote">
      <blockquote>
        {% block content %}
          <div class="content">
            <p>{{ content.field_quote|render|striptags('<br>')|trim|raw }}</p>
          </div>
        {% endblock %}
        <footer>
          {{ content.field_author|render|striptags|trim }}
          {% if content.field_position|render|striptags|trim is not empty %}
            , {{ content.field_position|render|striptags|trim }}
          {% endif %}
        </footer>
      </blockquote>
    </div>
  </div>

{% endblock paragraph %}
