<p>{{ info }}</p>
<ul class="icon-list">
  <li><i class="icon-phone" aria-hidden="true"></i>{{ phone }}</li>
  <li><i class="icon-envelope" aria-hidden="true"></i>{{ email }}</li>
  <li><i class="icon-document" aria-hidden="true"></i>{{ link }}</li>
</ul>
