{% extends '@dg_blocks/footer-block.html.twig' %}

{% block gent_olark %}
  {% if content.gent_olark %}
    <button type="button" class="button button-primary gentinfo-chat-button icon-chat-round olark-toggle">
      {{ 'Chat with Gentinfo'|t }}
    </button>
  {% endif %}
{% endblock %}
