{#
/**
 * @file
 * Theme override for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}

{% set attributes = create_attribute({
  'href': path('<front>'),
  'title': 'Home'|t,
  'rel': 'home'
}) %}

{% set classes = [
  'site-logo',
  'theme'
] %}

{% block content %}
  {% if site_logo %}
    <a {{ attributes.addClass(classes) }}>
      {{ site_name }}
    </a>
  {% endif %}
{% endblock %}
