@use '../../../../build/styleguide/sass/00-settings/settings' as *;
@use '../../../../build/styleguide/sass/00-mixins/mixins' as *;
@use '../../../../build/styleguide/sass/21-atoms/atoms' as *;

/* ==========================================================================
   OIDC Menu block
   ========================================================================== */

.oidc-menu--wrapper {
  display: flex;
  position: static;
  justify-content: flex-end;

  .avatar {
    @include bold-text;
    @include theme('background-color', 'color-secondary');
    @include theme('color', 'color-zero');

    flex-shrink: 0;
    width: 2.3rem;
    height: 2.3rem;
    border-radius: 50%;
    font-size: 1.3rem;
    line-height: 2.3rem;
    text-align: center;
    text-transform: uppercase;
  }

  .login-link {
    @include icon(user, before);

    position: relative;
    margin-left: 1.6rem;
    line-height: 1;
    text-overflow: ellipsis;

    &::before {
      @include theme('color', 'color-tertiary', 'login-link-icon-color');

      position: absolute;
      top: 0;
      bottom: 0;
      left: -1.6rem;
    }
  }

  img {
    border-radius: 50%;
  }

  .accordion--button {
    display: flex;
    align-items: center;
    border: 0;
    background: transparent;
    font-size: .8rem;
    cursor: pointer;

    * {
      vertical-align: middle;
    }

    img {
      width: 2.3rem;
      height: 2.3rem;
      object-fit: cover;
    }

    span {
      @include bold-text;

      display: none;
      max-width: 160px;
      padding: 0 .5em;
      text-overflow: ellipsis;
      overflow: hidden;

      @include tablet {
        display: inline-block;
      }
    }

    &::before {
      line-height: 0;
    }

    span.avatar {
      display: block;
    }
  }

  .accordion--content {
    @include theme('background-color', 'color-none');

    position: absolute;
    top: calc(100% - 40px);
    width: calc(100vw - 2 * #{$gutter-width});
    max-width: $bp-mobile;
    margin-top: .5rem;
    transition: max-height .3s ease-in-out;
    border-radius: border-radius('radius-1');
    box-shadow: 0 0 20px 0 rgba(coloring('gray-medium'), 0.25);
    z-index: 6;

    @media (max-width: 400px) {
      left: -20px;
      right: -20px;
      width: calc(100vw + 40px);
      max-width: 400px;
      box-shadow: 0 10px 10px 0 rgba(coloring('gray-medium'), 0.25);
    }
  }

  .content {
    padding: 1.2rem;

    h2 {
      @extend %h4;
    }

    > h2 {
      margin-bottom: 0;
    }

    section {
      @include theme('border-color', 'color-primary--lighten-4', 'mijn_gent-border-color');

      padding: 12px 0;
      border-top: 2px solid;

      &.links-list {
        margin-top: -30px;
        margin-left: 90px;
        padding-top: 0;
        border: 0;
      }

      .links {
        margin: 0;

        a {
          font-size: .8rem;
        }
      }
    }

    .profile {
      display: flex;
      padding-bottom: 25px;
      border-top: 0;

      &-info {
        span {
          @include bold-text;

          display: block;
          font-size: .9rem;
        }

        a {
          font-size: .8rem;
        }
      }

      img {
        align-self: flex-start;
        width: 66px;
        height: 66px;
        margin-right: $gutter-width;
        object-fit: cover;
      }

      .avatar {
        width: 66px;
        height: 66px;
        margin-right: 24px;
        line-height: 66px;
      }
    }
  }
}
