{#
/**
 * @file
 * Default theme implementation for webform wizard progress tracker.
 *
 * Available variables:
 * - webform: A webform.
 * - pages: Associatve array of wizard pages.
 *    - title: Label for the page.
 *    - name: machine name for the page title.
 * - attributes: A list of HTML attributes for the wrapper element.
 * - progress: Array of wizard progress containing page titles.
 * - current_page: Current wizard page key.
 * - current_index: The current wizard page index.
 * - max_pages: Maximum number of pages that progress text should be displayed on.
 *
 * @see template_preprocess_webform_progress_bar()
 * @see https://www.w3.org/WAI/tutorials/forms/multi-page/
 *
 * @ingroup themeable
 */
#}
{{ attach_library('webform/webform.progress.tracker') }}

<nav class="webform-progress progress-tracker form-steps vertical">

  <h2 id="form-steps-73"
      class="visually-hidden">{{ 'Steps in this wizard'|t }}</h2>
  <ol class="form-steps-list">
    {% for index, page in progress %}
      {% set is_completed = index < current_index %}
      {% set is_active = index == current_index %}
      {% set classes = [
        is_completed ? 'completed',
        is_active ? 'active',
      ] %}
      <li{{ attributes.setAttribute('data-webform-page', page.name).setAttribute('title', page.title).setAttribute('class', '').addClass(classes) }}>
        {% if progress|length < max_pages %}
          <span class="progress-title">
            <span>
              {{ page.title }}
            </span>
          </span>
        {% endif %}
      </li>
    {% endfor %}
  </ol>
</nav>
